<header id="masthead" class="site-header header-v2">
                <div class="container hidden-md-down">
                    <div class="row">

                        <!-- ============================================================= Header Logo ============================================================= -->
                        <div class="header-logo">
                            <a href="/" class="header-logo-link">
                                <img src="../../assets/images/unimax_logo_2.png" alt="logo">
                            </a>
                        </div>
                        <!-- ============================================================= Header Logo : End============================================================= -->

                        <div class="primary-nav animate-dropdown">
                            <div class="clearfix">
                                 <button class="navbar-toggler hidden-sm-up pull-right flip" type="button" data-toggle="collapse" data-target="#default-header">
                                        &#9776;
                                 </button>
                             </div>

                            <div class="collapse navbar-toggleable-xs" id="default-header">
                                <nav>
                                    <ul id="menu-main-menu" class="nav nav-inline yamm">
                                        <li class="menu-item menu-item-has-children animate-dropdown dropdown"><a href="/">Ana səhifə</a>
                                        </li>
                                        <li class="menu-item animate-dropdown"><a title="About Us" href="/about">Haqqımızda</a></li>

                                        <li class="menu-item menu-item-has-children animate-dropdown dropdown"><a title="Blog" href="/blog" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Blog</a>
                                            <ul role="menu" class=" dropdown-menu">
                                                <li class="menu-item animate-dropdown" *ngFor="let blog of blogs; index as i"><a title="{{blog.name}}" href="/blog/{{blog.id}}">{{blog.name}}</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a title="Features" href="/friendship">Əməkdaşlıq</a></li>
                                        <li class="menu-item"><a title="Contact Us" href="/contacts">Əlaqə</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="header-support-info">
                            <div class="media">
                                <span class="media-left support-icon media-middle"><i class="ec ec-support"></i></span>
                                <div class="media-body">
                                    <span class="support-number"><strong>Zəng Mərkəzi</strong> *5577 və (+994) 05577 05577</span><br/>
                                    <span class="support-email">Email: info@unimax.az</span>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.row -->
                </div>

                <div class="container hidden-lg-up">
                    <div class="handheld-header">

                        <!-- ============================================================= Header Logo ============================================================= -->
                        <div class="header-logo">
                            <a href="/" class="header-logo-link">
                                <img src="../../assets/images/unimax_logo_2.png" alt="logo">
                            </a>
                        </div>
                        <!-- ============================================================= Header Logo : End============================================================= -->

                        <div class="handheld-navigation-wrapper">   
                            <div class="handheld-navbar-toggle-buttons clearfix"> 
                                <button class="navbar-toggler navbar-toggle-hamburger hidden-lg-up pull-right flip" type="button"> 
                                    <i class="fa fa-bars" aria-hidden="true"></i> 
                                </button> 
                                <button class="navbar-toggler navbar-toggle-close hidden-lg-up pull-right flip" type="button"> 
                                    <i class="ec ec-close-remove"></i> 
                                </button>
                            </div>  
                            <div class="handheld-navigation hidden-lg-up" id="default-hh-header"> 
                                <span class="ehm-close">Close</span>
                                <ul id="menu-all-departments-menu-1" class="nav nav-inline yamm">
                                    <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown" *ngFor="let brend of brends; index as i;">
                                        <a title="{{brend.name}}" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{brend.name}}</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item animate-dropdown ">
                                                <div class="yamm-content">
                                                    <div class="col-sm-6" *ngFor="let model of brend.models; index as i;">
                                                        <ul>
																														<li class="nav-title"><a href="shop/{{model.id}}*{{brend.id}}">{{model.name}}</a></li>
                                                            <li *ngFor="let type of model.types; index as i;"><a href="shop/{{model.id}}@{{type.id}}">{{type.name}}</a></li>
                                                        </ul>
                                                    </div>                              
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </header><!-- #masthead -->

            <nav class="navbar navbar-primary navbar-full hidden-md-down">
                <div class="container">
                    <ul class="nav navbar-nav departments-menu animate-dropdown">
                        <li class="nav-item dropdown ">

                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="departments-menu-toggle" >Brendlər</a>
                            <ul id="menu-vertical-menu" class="dropdown-menu yamm departments-menu-dropdown">
                               <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown menu-item-2584 dropdown" *ngFor="let brend of brends; index as i;">
                                        <a title="{{brend.name}}" data-hover="dropdown" href="#{{brend.name}}" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{brend.name}}</a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li class="menu-item animate-dropdown menu-item-object-static_block">
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-sm-6" *ngFor="let model of brend.models; index as i;">
                                                            <div class="vc_column-inner ">
                                                                <div class="wpb_wrapper">
                                                                    <div class="wpb_text_column wpb_content_element ">
                                                                        <div class="wpb_wrapper">
                                                                            <ul>
                                                                                <li class="nav-title"><a href="shop/{{model.id}}*{{brend.id}}">{{model.name}}</a></li>
                                                                                <li *ngFor="let type of model.types; index as i;"><a href="shop/{{model.id}}@{{type.id}}">{{type.name}}</a></li>
                                                                            </ul>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-search">
                        <label class="sr-only screen-reader-text" for="search">Search for:</label>
                        <div class="input-group">
                            <input type="text" id="search" [(ngModel)]="searchString" class="form-control search-field" dir="ltr" name="s" placeholder="Axtarış" />
                            <div class="input-group-addon search-categories">
                                <select name='product_cat' [(ngModel)]="searchId" id='product_cat' class='postform resizeselect' >
                                    <option value='0' selected='selected'>Bütün kategoriyalar</option>
    																<option class="level-0" value="{{model.id}}" *ngFor="let model of models; index as i">{{model.name}}</option>
                                </select>
                            </div>
                            <div class="input-group-btn">
                                <input type="hidden" id="search-param" name="post_type" value="product" />
                                <button type="submit" (click)="search()" (keyup.enter)="search()" class="btn btn-secondary"><i class="ec ec-search"></i></button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-mini-cart navbar-nav animate-dropdown nav pull-right flip">
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0);" class="nav-link" data-toggle="dropdown">
                                <i class="ec ec-shopping-bag"></i>
                                <span class="cart-items-count count">{{cartCount}}</span>
                                <span class="cart-items-total-price total-price" *ngIf="cartTotal > 0"><span class="amount">{{cartTotal}} &#8380;</span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-mini-cart">
                                <li>
                                    <div class="widget_shopping_cart_content">

                                        <ul class="cart_list product_list_widget ">


                                            <li class="mini_cart_item" *ngFor="let p of cartProds;index as i;">
																							<a title="Remove this item" class="remove" href="javascript:void(0);" (click)="removeCart(p.id)">×</a>
																							<a href="shop/{{p.products.model_id}}@{{p.products.type_id}}/{{p.products.id}}">
																								<img class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" src="{{eService.api}}/{{p.products.images[0]}}" alt="">{{p.products.firm_name}} {{p.products.name}}&nbsp;
																							</a>

																							<span class="quantity">{{p.count}} × <span class="amount">{{p.products.price}} &#8380;</span></span>
																						</li>


                                        </ul>


                                        <p class="total"><strong>Ümumi:</strong> <span class="amount">{{cartTotal}} &#8380;</span></p>


                                        <p class="buttons">
                                            <a class="button wc-forward" href="{{isLogged == 'true' ? '/cart' : '/account'}}">Səbətə Keç</a>
<!--                                            <a class="button checkout wc-forward" href="checkout.html">Checkout</a>-->
                                        </p>


                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </nav>