<footer id="colophon" class="site-footer">
            	<div class="footer-newsletter">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12 col-sm-7">
            					<h5 class="newsletter-title">Yeniliklərimiz üçün yazılın</h5>
<!--            					<span class="newsletter-marketing-text">...and receive <strong>$20 coupon for first shopping</strong></span>-->
            				</div>
            				<div class="col-xs-12 col-sm-5" *ngIf="!subscribeSuccess && !subscribeFail">
            					<form>
            						<div class="input-group">
            							<input type="text" name="email" class="form-control" placeholder="Email" [(ngModel)]="email">
            							<span class="input-group-btn">
            								<button class="btn btn-secondary" type="button" (click)="subscribe()">Qeyd ol</button>
            							</span>
            						</div>
            					</form>
            				</div>
            				<div class="col-xs-12 col-sm-5" *ngIf="subscribeSuccess">
            					<div class="callback-text">
            						<p>Emailiniz yeniliklərimiz üçün qeydə alındı. <i class="fas fa-check"></i></p>
            					</div>
            				</div>
            				<div class="col-xs-12 col-sm-5" *ngIf="subscribeFail">
            					<div class="callback-text">
            						<p>Emailiniz artıq qeydə alınıb.</p>
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>

            	<div class="footer-bottom-widgets">
            		<div class="container">
            			<div class="row">
            				<div class="col-xs-12 col-sm-12 col-md-7 col-md-push-5">
            					<div class="columns">
            						<aside id="nav_menu-2" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">Kategoriyalar</h4>
            								<div class="menu-footer-menu-1-container">
            									<ul id="menu-footer-menu-1" class="menu">
            										<li class="menu-item" *ngFor="let m of models;index as i;"><a href="shop/{{m.id}}">{{m.name}}</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            					<div class="columns">
            						<aside id="nav_menu-3" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">Blog</h4>
            								<div class="menu-footer-menu-2-container">
            									<ul id="menu-footer-menu-2" class="menu">
            										<li class="menu-item" *ngFor="let b of blogs;index as i;"><a href="blog/{{b.id}}">{{b.name}}</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            					<div class="columns">
            						<aside id="nav_menu-4" class="widget clearfix widget_nav_menu">
            							<div class="body">
            								<h4 class="widget-title">Müştəri Xidmətləri</h4>
            								<div class="menu-footer-menu-3-container">
            									<ul id="menu-footer-menu-3" class="menu">
            										<li class="menu-item"><a href="{{isLogged == 'true' ? 'cart' : 'account'}}">Hesabım</a></li>
            										<li class="menu-item"><a href="about">Haqqımızda</a></li>
            										<li class="menu-item"><a href="friendship">Əməkdaşlıq</a></li>
            										<li class="menu-item"><a href="friendship/2">Çatdırılma</a></li>
            										<li class="menu-item"><a href="friendship/3">Sifariş vermək</a></li>
            										<li class="menu-item"><a href="friendship/4">Məhsulun qaytarılma şərtləri</a></li>
            										<li class="menu-item"><a href="contacts">Əlaqə</a></li>
            									</ul>
            								</div>
            							</div>
            						</aside>
            					</div><!-- /.columns -->

            				</div><!-- /.col -->

            				<div class="footer-contact col-xs-12 col-sm-12 col-md-5 col-md-pull-7">
            					<div class="footer-logo">
            						<img src="../../assets/images/unimax_logo_2.png" alt="">
            					</div><!-- /.footer-contact -->

            					<div class="footer-call-us">
            						<div class="media">
            							<span class="media-left call-us-icon media-middle"><i class="ec ec-support"></i></span>
            							<div class="media-body">
            								<span class="call-us-text">Zəng Mərkəzi</span>
            								<span class="call-us-number">*5577 və (+994) 05577 05577</span>
            							</div>
            						</div>
            					</div><!-- /.footer-call-us -->


            					<div class="footer-address">
            						<strong class="footer-address-title">Ünvan</strong>
            						<address>Bakı şəhəri, Nərimanov rayonu, Gularə Qədirbəyova 16, Heydər Əliyev Mərkəzinin yanı</address>
            					</div><!-- /.footer-address -->

            					<div class="footer-social-icons">
            						<ul class="social-icons list-unstyled">
            							<li><a class="fab fa-facebook" target="_blank" href="https://www.facebook.com/unimaxazerbaijan/"></a></li>
<!--
            							<li><a class="fa fa-twitter" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-pinterest" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-linkedin" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-google-plus" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-tumblr" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
-->
            							<li><a class="fab fa-instagram" target="_blank" href="https://www.instagram.com/unimaxazerbaijan/"></a></li>
<!--
            							<li><a class="fa fa-youtube" href="http://themeforest.net/user/shaikrilwan/portfolio"></a></li>
            							<li><a class="fa fa-rss" href="#"></a></li>
-->
            							</ul>
            					</div>
            				</div>

            			</div>
            		</div>
            	</div>

            	<div class="copyright-bar">
            		<div class="container">
            			<div class="flip copyright">Copyright  &copy; 2018 <a> UNIMAX</a></div>
<!--
            			<div class="pull-right flip payment">
            				<div class="footer-payment-logo">
            					<ul class="cash-card card-inline">
            						<li class="card-item"><img src="assets/images/footer/payment-icon/1.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/2.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/3.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/4.png" alt="" width="52"></li>
            						<li class="card-item"><img src="assets/images/footer/payment-icon/5.png" alt="" width="52"></li>
            					</ul>
            				</div>
            			</div>
-->
            		</div><!-- /.container -->
            	</div><!-- /.copyright-bar -->
            </footer>