.footer-logo{
	    max-width: 300px;
}

.copyright-bar .container{
	    text-align: center;
}

.callback-text{
	  width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 1.571em;
    background-color: white;
    font-size: 1.15em;
    padding-left: 15px;
    padding-top: 13px;
}

.callback-text i{
	padding-left: 10px;
    color: green;
}