.main-text{
	    float: none;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.7em;
}

.main-text > p:first-child{
	margin-bottom: 2em;
}

#content.site-content{
	margin-bottom: 100px;
}

.entry-header{
	    margin-bottom: 4em;
}