
               <div id="content" class="site-content" tabindex="-1" *ngIf="page==1 || page>4">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" >
                        <a href="/">Ana səhifə</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                        Əməkdaşlıq
                    </nav><!-- .woocommerce-breadcrumb -->


                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">


                            <article id="post-2183" class="hentry">

                                <header class="entry-header">
                                    <h1 class="entry-title">Əməkdaşlıq</h1>
                                </header><!-- .entry-header -->

                                <div class="entry-content">

                                    <section class="section main-text col-md-8">
                                        <p>
                                        	Hal-hazırda Unimax Technology 10 dan çox elektronika mağazalar şəbəkəsi, bir neçə online satış saytı, Bakıda və rayonlarda olmaqla 500-ə yaxın diler mağazası ilə əməkdaşlıq etməkdədir. Bizimlə əmkdaşlqda maraqlı olan və qanunvericilik əsasında fəaliyyət göstərən şirkətlərlə, mağazalarla və online satış sayt və platformaları ilə qarşılıqlı razılaşma əsasında işbirliyinə daim hazırıq. 
                                        </p>
                                        
                                        <p>Maraqlananlar zəng mərkəzi ( *5577 və 05577 05577) vasitəsilə bizimlə əlaqə saxlayraq öz rəy və  təkliflərini verə bilərlər.</p>
                                    </section><!-- .section -->

                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->


                </div><!-- .col-full -->
            </div><!-- #content -->
  
<div id="content" class="site-content" tabindex="-1" *ngIf="page==2">
                <div class="container">
                    <nav class="woocommerce-breadcrumb"><a href="/">Ana səhifə</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Çatdırılma</nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <article class="page type-page status-publish hentry" >

                                <header class="entry-header">
                                    <h1 itemprop="name" class="entry-title">Çatdırılma</h1>
<!--                                    <p class="entry-subtitle">This Agreement was last modified on 18th february 2016</p>-->
                                </header>
                                
                                <div itemprop="mainContentOfPage" class="entry-content">
<!--
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper"><h2 class="vc_custom_heading faq-page-title" style="font-size: 25px;color: #434343;text-align: left;font-family:Open Sans;font-weight:400;font-style:normal">Shipping Information</h2></div>
                                            </div>
                                        </div>
                                    </div>
-->
                                    <div class="vc_row wpb_row vc_row-fluid inner-bottom-xs" style="display: inline-block;">
                                        <div class="wpb_column vc_column_container vc_col-sm-6 col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3 style="text-align: left;" class="faq-title">Çatdırılmanın vasitələri, müddəti və ödənişi</h3>
                                                            <div class="text-content">
                                                                <p>Çatdırılma sifarişin məbləğində və ya tərkibində heç bir məhdudiyyət olmadan Azərbaycanın bütün şəhərlərinə və yaşayış məntəqələrinə pulsuzdur. Çatdırılma Azərbaycanın aparıcı çatdırılma (kuryer) xidmətləri tərəfindən həyata keçirilir. Çatdırılmanın maksimal müddəti bayram və istirahət günləri nəzərə alınmaqla sifarişi rəsmiləşdirəndə göstərilir. Çatdırılma günü kuryer mütləq sizinlə əlaqə saxlayacaq.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6 col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3 class="faq-title">Express (təcili) çatdırılma</h3>
                                                            <div class="text-content">
                                                                <p>Sizə əlavə ödəniş ilə təcili çatdırılma xidməti təklif oluna bilər. Təcili çatdırılmanın müddəti sifarişin hansı yaşayış məntəqəsində alınmasından aslıdır.</p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_row wpb_row vc_row-fluid inner-bottom" style="display: inline-block;">
                                        <div class="wpb_column vc_column_container vc_col-sm-6 col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3 class="faq-title">Sifarişin qəbulu</h3>
                                                            <div class="text-content">
                                                                <p>Çatdırılma xidmətinin nümayəndəsi sifarişin çatdırılmasının tarixini və saatını dəqiqləşdirmək üçün sizinlə qeyd edilən nömrə ilə əlaqə saxlayacaq.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6 col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <h3 class="faq-title">Sifarişin çardırılma vaxtında evdə olmasanız</h3>
                                                            <div class="text-content">
                                                                <p>Əgər siz sifarişin qəbulu üçün qeyd edilmiş ünvanda olmayacaqsınızsa, o zaman kuryer xidməti təkrar çatdırılma üçün sizinlə əlaqə saxlamağa çalışacaq. Əgər xidmət sizinlə 48 saaat ərzində əlaqə yarada bilməzsə, o zaman hesab olunacaq ki, siz sifarişdən imtina etmisiniz.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper"><h2 class="vc_custom_heading vc_custom_1458140045264" style="font-size: 40px;color: #434343;text-align: center;font-family:Open Sans;font-weight:400;font-style:normal">FAQ Second Version</h2></div>
                                            </div>
                                        </div>
                                    </div>
-->

                                    <div id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="vc_toggle panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <div class="vc_toggle_title">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Alınmış məhsulların ödənişini necə etmək olar?</a>
                                                    </h4>
                                                    <i class="vc_toggle_icon"></i>
                                                </div>
                                            </div>
                                            <div id="collapseOne" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                <p>Siz, sizə rahat olan ödəniş üsulunu seçə bilərsiniz?</p>
                                                <ul>
                                                	<li>Nəğd ödəniş</li>
                                                	<li>Bank kartları ilə</li>
                                                	<li>Kreditlə</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="vc_toggle panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTow">
                                                <div class="vc_toggle_title">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapseTow" aria-expanded="true" aria-controls="collapseTow">Məhsullar hara çatdırıla bilərlər?</a>
                                                    </h4>
                                                    <i class="vc_toggle_icon"></i>
                                                </div>
                                            </div>
                                            <div id="collapseTow" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingTow">
                                                <p>Biz Azərbaycanın bütün şəhərlərinə  və yaşayış məntəqələrinə sizin qeyd edilmiş ünvana pulsuz çatdırılmanı həyata keçiririk. Azərbaycandan başqa xarici ölkələrə hal-hazırda çatdırılma xidmətimiz mövcud deyil.</p>
                                                
                                                <p>Biz sifarişləri poçt qutularına, otellərə, yataqxanalara və digər daimi yaşayış məntəqəsi olmayan yerlərə çatdırmırıq. Həmçinin ictimai qidalanma yerlərinə - restoranlar, kafelər, metro və dəmir yol stansiyaları, hava limanı, ictimai ticarət məkanlarına sifarişləri çatdırmırıq.</p>
                                            </div>
                                        </div>
                                        <div class="vc_toggle panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <div class="vc_toggle_title">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Mənim yerimə başqa adam sifarişi qəbul edə bilərmi?</a>
                                                    </h4>
                                                    <i class="vc_toggle_icon"></i>
                                                </div>
                                            </div>
                                            <div id="collapseThree" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <p>Bəli. Sadəcə kuryeri əvvəlcədən məlumatlandırın ki, sifarişi başqa adam qəbul edəcək. Öncədən ödənilən sifariş üçün aşağıda göstərilən etibarnamə formasını vermək lazımdır.</p>
                                                
                                                <p>Öncədən ödənilən sifarişi alan adamının bu sənədləri olmalıdır:</p>
                                                
                                                <ul>
                                                	<li>etibarnamə</li>
                                                	<li>şəxsiyyətini təsdiq edən sənəd</li>
                                                	<li>sizin şəxsiyyət vəsiqənizin surəti</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="vc_toggle panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <div class="vc_toggle_title">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Məhsulu ödənişdən əvvəl kuryerin yanında yoxlaya bilərəm?</a>
                                                    </h4>
                                                    <i class="vc_toggle_icon"></i>
                                                </div>
                                            </div>
                                            <div id="collapseFour" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <p>Sifarişi alanda siz ödənişi etmədən öncə məhsulu yoxlaya bilərsiniz:</p>
                                                
                                                <ul>
                                                	<li>Zavod möhürünü qopardın və qutunu səliqə ilə açın.</li>
                                                	<li>Çatdırılan məhsulun sifariş edilən məhsula uyğun olmasını yoxlayın.</li>
                                                	<li>Məhsulun xarici mexaniki zərərlərinin olmasını yoxlayın.</li>
                                                </ul>
                                                
                                                <p>Əgər siz sifarişdən imtina edirsinizsə, o zaman ödəniş həyata keçirilmir və sifariş ləğv olunmuş hesab olunur.</p>
                                                
																							<p><b>Vacibdir!</b> Çatdırılma sənədlərində imzanızın olması göstərir ki, sizin heç bir narazıçılığınız yoxdur və satıcı öz vəzifəsini tamamilə düzgün şəkildə yerinə yetirib.</p>
                                            </div>
                                        </div>
                                        <div class="vc_toggle panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFive">
                                                <div class="vc_toggle_title">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" style="color: #434343;" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Sifarişinin statusunu necə öyrənə bilərəm?</a>
                                                    </h4>
                                                    <i class="vc_toggle_icon"></i>
                                                </div>
                                            </div>
                                            <div id="collapseFive" class="vc_toggle_content panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <p>Siz sifarişinin statusunu saytımızda olan şəxsi hesabınızdan yoxlaya bilərsiniz.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- .entry-content -->
                            </article>
                        </main><!-- #main -->
                    </div><!-- #primary -->
                </div><!-- .container -->
            </div><!-- #content -->
            
 <div id="content" class="site-content" tabindex="-1" *ngIf="page==3">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" >
                        <a href="/">Ana səhifə</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                        Sifariş vermək
                    </nav><!-- .woocommerce-breadcrumb -->


                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">


                            <article id="post-2183" class="hentry">

                                <header class="entry-header">
                                    <h1 class="entry-title">Sifariş vermək</h1>
                                </header><!-- .entry-header -->

                                <div class="entry-content">

                                    <section class="section main-text col-md-8">
                                        <h4>Sifarişi necə etmək lazımdır? </h4>
                                        <p><b>unimax.az</b> saytında sifariş etmək üçün seçilmiş məhsulları Alış-veriş səbətinə əlavə edin və “Qeydiyyat” düyməsinə basın.</p>
                                        
                                        <ul>
                                        	<li>Əgər siz micromax.az sayından ilk dəfə məhsul alırsınızsa, o zaman e-mail ünvanı və ya əlaqə nömrəsini daxil edin. Bu məlumat sizin sifarişinizin statusu haqqında bildiriş vermək üçün istifadə olunacaq.</li>
                                        	<li>Əgər siz micromax.az saytından əvvəllər alış etmisinizsə, daxil olmaq üçün e-mail ünvanını və şifrəni qeyd edin. Siz həmçinin öz telefon nömrənizi və mesajla göndərilən kodu qeyd edərək səhifəyə daxil ola bilərsiniz.</li>
                                        	<li>Əgər siz Facebook, Google+, Twitter hesabınız varsa, səhifəyə öz hesab vasitəniz ilə daxil olmaq üçün müvafiq sosial şəbəkəsinin işarəsinə basın.</li>
                                        </ul>
                                        
                                        <p>Təkrar sifariş üçün siz həm öncədən qeyd edilən məlumatları istifadə edə bilərsiniz həm də, məlumatı yeniləyə bilərsiniz.</p>
                                        
                                        <br>
                                        
                                        <h4>Sifarişi ləğv etmək olarmı?</h4>
                                        <p>Siz məhsulu almamışdan qabaq istədiyiniz vaxtda sifarişi ləğv edə bilərsiniz (ya da sifarişdən imtina edə bilərsiniz). Hətta çatdırılma günü kuryer artıq gəlibsə belə, sifarişdən imtina edə bilərsiniz.</p>
                                        
                                        <p>Sifariş ləğv olunduqdan sonra, imtinanı təsdiq edən məktubu e-mail ünvanınıza göndərəcəyik.</p>
                                        
                                        <p>Əgər siz artıq alınmış məhsulu dəyişdirmək (qaytarmaq) və ya öncədən ödənilən avansı qaytarmaq istəyirsinizsə, o zaman “Qaytarma şərtləri” bölümünə baxın.</p>
                                        
                                        <br>
                                        
                                        <h4>Sifarişin dəyişdirilməsi</h4>
                                       	<p>Siz saytımızda olan şəxsi hesabınıza daxil olaraq, sifarişinizdə dəyişikliklər edə bilərsiniz. Bunun üçün sifarişdə “Dəyişdirmək” düyməsinə basın. Əgər sifarişiniz artıq göndərilibsə, siz çatdırılmanın tarixini, ünvanını, alıcının adını, soyadını və əlaqə nömrəsini dəyişdirə bilərsiniz.</p>
                                       	
                                       	<br>
                                       	
                                       	<h4>Öncədən sifarişin şərtləri</h4>
                                       	<p>Məhsulun öncədən sifarişini etsəniz, həmin məhsul satışa çıxarılanda, siz onu ilk alan müştərilər sırasında olacaqsınız. Məhsul mağazamıza gələn kimi, sizə e-mail və ya mesaj vasitəsi ilə bu haqda məlumat veriləcək.</p>
                                       	
                                       	<p>Öncədən sifariş sizin tərəfinizdən heç bir öhdəliklərə səbəb olmayacaq. Öncədən sifarişi ləğv etmək üçün sadəcə məhsulun gəlişi haqqında e-mail və ya mesaja məhəl qoymamaq kifayətdir.</p>
                                    </section><!-- .section -->

                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->


                </div><!-- .col-full -->
            </div><!-- #content -->
            
 <div id="content" class="site-content" tabindex="-1" *ngIf="page==4">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" >
                        <a href="/">Ana səhifə</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                        Məhsulun qaytarılma şərtləri 
                    </nav><!-- .woocommerce-breadcrumb -->


                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">


                            <article id="post-2183" class="hentry">

                                <header class="entry-header">
                                    <h1 class="entry-title">Məhsulun qaytarılma şərtləri</h1>
                                </header><!-- .entry-header -->

                                <div class="entry-content">

                                    <section class="section main-text col-md-8">
                                        <h4>Məhsulu necə qaytarmaq olar?</h4>
                                        <ul>
                                        	<li>Ərizəni doldurun.</li>
                                        </ul>
                                        <p>Məhsulu qaytarmaq üçün lazım olan ərizəni “Şəxsi otaq” bölümünə keçərək doldurun. Bunun üçün qaytarmaq istədiyiniz sifarişinizdə “Geri qaytarmaq” düyməsinə basın. Ərizə yalnız bir neçə sətirdən ibarətdir və doldurulması çox vaxt aparmayacaq. Bundan sonra mütəxəssislərimiz sizinlə əlaqə saxlayacaqlar və məhsulu geri qaytarmaq üçün kömək edəcəklər. Alınmış məhsulu qaytarmaq üçün qaimə mütləq tələb olunmur.</p>
                                        
                                        <ul>
                                        	<li>Məhsulu qaytarın.</li>
                                        </ul>
                                        <p>Məhsulun pulsuz qaytarılması üçün satış nöqtəmizə gələ bilərsiniz. Həmçinin siz poçt vasitəsi ilə də məhsulu qaytara bilərsiniz (bu xidmər ödənişlidir).</p>
                                        
                                        <ul>
                                        	<li>Yeni məhsul və ya pulunuzu alın.</li>
                                        </ul>
                                        <p>Məhsulu qaytaranda siz pulunuzu və ya onu başqa analoji məhsul ilə əvəz edib ala bilərsiniz. Əgər məhsulu nəğd almısınızsa, pulunuzu məhsulu qaytardığı gündən  2-3 gün ərzində geri qaytaracağıq. Əgər siz bank kartı ilə ödəniş etmisinizsə, o zaman pulunuz elə həmin karta köçürülür.</p>
                                        
                                        <br>
                                        
                                        <h4>Məhsulun geri qaytarılmasının şərtləri və müddəti</h4>
                                        <p>Məhsulun  təslim edilmə tarixindən etibarən 15 gün ərzində.</p>
                                        
                                        <p>Aldığınız məhsul sizin gözləntilərinizə uyğun olmadığı halda.</p>
                                        
																				<p><b>Diqqətli olun!</b> Məhsulun qaytarılması üçün o istifadə olunmamalıdır və tam aldığınız vəziyyətdə  olmalıdır:</p>
                                   			
                                   			<ul>
                                   				<li>istifadəsinin və zərərlərin izi olmadan;</li>
                                   				<li>telefonda heç bir kənar məlumat olmamalıdır;</li>
                                   				<li>məhsulun qablaşdırmasında heç bir zərər olmamalıdır;</li>
                                   			</ul>
                                   			
                                   			<br>
                                   			
                                   			<h4>Texniki qüsur olduğu halda məhsulun geri qaytarılması</h4>
                                   			<p>Texniki qüsur texniki xidməti tərəfindən təsdiq etdikdən sonra məhsul qaytarıla bilər. Xidmət mərkəzi müəyyən edilmiş çatışmazlıqların və qüsurların diaqnostikasını aparır, onların xarakterini müəyyən edir. Yoxlanış həyata keçiriləndən sonra və istehsalçı tərəfindən yaranan texniki qüsurların aşkar olduğu hallarda məhsulun zəmanətli təmiri aparılır.</p>
                                   			
                                   			<h4>Məhsul alındığı gündən başlayaraq 16+ gün keçəndə</h4>
                                   			<p>Məhsulu bu hallarda geri qaytara bilərsiniz:</p>
                                   			
                                   			<ul>
                                   				<li>dəfələrlə texniki xidmət tərəfindən təmir olunan qüsurun olduğu hallarda;</li>
                                   				<li>təmirin müddəti 45 gündən çox vaxt tutubsa.</li>
                                   			</ul>
                                   			
                                   			<p>Digər hallarda siz zəmanətli təmir üçün texniki xidmətə müraciət etməlisiniz.</p>
                                   			
                                   			<br>
                                   			
                                   			<h4>Məhsulu təmirə vermək üçün nə etməlisiniz</h4>
                                   			<p>Məhsulun təmiri üçün rəsmi texniki xidmətə müraciət edin. Texniki xidmətlərin ünvanlarını, əlaqə nömrələrini və iş saatlarını saytımızdan və ya zəmanət talonundan öyrənə bilərsiniz.</p>
                                   			
                                   			<br>
                                   			
                                   			<h4>Qüsurlu məhsul çatdırılanda nə etmək lazımdır</h4>
                                   			<p>İlk öncə sifarişi qəbul edəndə, məhsulda hər hansısa bir qüsurun olub-olmamağını diqqətlə yoxlayın. Əgər siz  qüsurlu məhsulu qəbul etməmisinizsə, o zaman onu qaytarmağı və yenisini sifariş etməyi tövsiyə edirik. Əgər siz, qüsuru fərq etmədən, məhsulu almısınızsa, o zaman onu aşkar edəndən sonra bizimlə əlaqə saxlayın.</p>
                                   			
                                   			<br>
                                   			
                                   			<h4>Geri qaytarılan məhsulun statusunu necə öyrənə bilərəm?</h4>
                                   			<p>Siz istədiyiniz zaman geri qaytarılan məhsulun statusunu öz “Şəxsi otaq” hesabınızdan və ya bizimlə əlaqə saxlayaraq öyrənə bilərsiniz.</p>
                                    </section><!-- .section -->

                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->


                </div><!-- .col-full -->
            </div><!-- #content -->