<div class="full-layout"></div>
<app-header [brends]="brends" [models]="models" [blogs]="blogs"></app-header>
<app-about-content class="about full-width page page-template-default"></app-about-content>