.about-features.inner-top-md.inner-bottom-sm{
	padding-bottom: 1em;
	padding-top: 7.5em;
}

.about-features > .text-content{
	    font-size: 1.2em;
    line-height: 1.7em;
    float: none;
    margin: 0 auto;
}

.about-features > .text-content > p{
	    margin-bottom: 2em;
}

.about-features > .text-content > p:last-child{
	    margin-bottom: 1rem;
}

#content.site-content{
	margin-bottom: 100px;
}