<div id="content" class="site-content" tabindex="-1">
            	<div class="container">
            		<div id="primary" class="content-area">
            			<main id="main" class="site-main">
            				<article class="has-post-thumbnail hentry">
            					<header class="entry-header header-with-cover-image" style="background-color: #ddd;">
            						<div class="caption">
            							<h1 class="entry-title" itemprop="name">Haqqımızda</h1>
            							<p class="entry-subtitle">Unimax Technology “Ali İmran” Məhdud Məsuliyyətli Cəmiyətinin Ticarət Markasıdır.</p>
            						</div>
            					</header><!-- .entry-header -->

            					<div class="entry-content">
            						<div class="row about-features inner-top-md inner-bottom-sm">
														<div class="text-content col-md-8">
															<p>Ali İmran MMC 2015-ci ildən fəaliyyətə başlamışdır. Əsas fəaliyyətinə Micromax mobil telefon və smartfonlarının rəsmi distribütorluğu ilə başlayan Ali İmran MMC qısa zaman ərzində fəaliyyətini genişləndirərək Bakı şəhəri də daxil olmaqla republikamızın bütün rayonlarında fəaliyyət göstərən diler  mağazlarla əməkdaşlığa başlamışdır.</p>
															
															<p>Fəaliyyətini genişləndirməkdə davam edən Ali İmran şirkəti 2017-ci ildə Micromax brendi ilə yanaşı Freetel, Allcall, TARA və Panasonic Mobilenin də Azərbaycanda Rəsmi distributorluğunu əldə etmişdir. Bununla da hazırda şirkətin əsas fəaliyyəti  müxtəlif brendlərin istehsal etdiyi yüksək innovasiyalı və müasir dizaynlı smartfonların sərfəli qiymətlərlə daxili bazarda satışının təşkilinə yönəlmişdir.</p>
															
															<p>2018-ci ildən etibarən şirkət fəaliyyətində baş vermiş dəyişiklikdən irəli gələrək bazarda Unimax Technology adı ilə təmsil olunur.</p>
														</div>
            						</div><!-- .row -->
            					</div><!-- .entry-content -->

            				</article><!-- #post-## -->
            			</main><!-- #main -->
            		</div><!-- #primary -->
            	</div><!-- .col-full -->
            </div>