<div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" >
                        <a href="/">Ana səhifə</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                        Əlaqə
                    </nav><!-- .woocommerce-breadcrumb -->

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">

                            <article class="hentry">

                                <header class="entry-header">
                                    <h1 class="entry-title">Əlaqə</h1>
                                </header><!-- .entry-header -->

                                <div class="entry-content">
                                    <div class="row">
                                        <div class="col-sm-6" *ngIf="!showSuccess">
                                            <div class="wpb_wrapper outer-bottom-xs">
                                                <h2 class="contact-page-title">Bizə yazın</h2>
                                             
                                            </div>

                                            <div role="form" class="wpcf7">
                                                <div class="screen-reader-response"></div>
                                                <form class="wpcf7-form">

                                                    <div class="form-group row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <label [ngClass]="{'error': showError && name == ''}">Ad və soyad*</label><br />
                                                            <span class="wpcf7-form-control-wrap first-name">
                                                                <input type="text" [disabled]="isLogged == 'true'" name="name" value="" size="40" class="wpcf7-form-control input-text" aria-required="true" aria-invalid="false" required="required" [(ngModel)]="name" [ngClass]="{'error': showError && name == ''}" />
                                                            </span>
                                                        </div>

                                                        <div class="col-xs-12 col-md-6">
                                                            <label [ngClass]="{'error': (showError && email == '') || showEmailError}">Email*</label><br />
                                                            <span class="wpcf7-form-control-wrap last-name">
                                                                <input type="email" [disabled]="isLogged == 'true'" name="email" value="" size="40" class="wpcf7-form-control input-text" aria-required="true" aria-invalid="false" required="required" [(ngModel)]="email" [ngClass]="{'error': (showError && email == '') || showEmailError}" />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label [ngClass]="{'error': showError && title == ''}">Mövzu*</label><br />
                                                        <span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control input-text" aria-required="true" aria-invalid="false" [(ngModel)]="title" required="required" [ngClass]="{'error': showError && title == ''}" /></span>
                                                    </div>

                                                    <div class="form-group">
                                                        <label [ngClass]="{'error': showError && message == ''}">Mesaj*</label><br />
                                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control input-text wpcf7-textarea" aria-invalid="false" aria-required="true" required="required" [(ngModel)]="message" [ngClass]="{'error': showError && message == ''}"></textarea></span>
                                                    </div>

                                                    <div class="form-group clearfix">
                                                        <p><input type="submit" (click)="send()" value="Göndər" class="wpcf7-form-control wpcf7-submit" /></p>
                                                    </div>
                                                </form>
                                                <div class="alert alert-danger" *ngIf="showEmailError">Email forması doğru deyil.</div>
                                            </div>
                                        </div><!-- .col -->
                                        
																				<div class="col-sm-6 alert alert-success" *ngIf="showSuccess">
                                        	Mesajınız göndərildi. Qısa zamanda mesajınıza cavab veriləcək. Bizə yazdığınız üçün təşəkkür edirik.
                                        </div>

                                        <div class="store-info store-info-v2 col-sm-6">
                                            <div class="vc_column-inner ">
                                                <div class="wpb_wrapper">
                                                    <div class="inner-left-xs outer-bottom-xs">

                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.6785277050292!2d49.86678572920108!3d40.393028420119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d3fe509ea61%3A0xfd5a951a84be9615!2zR8O8bGFyyZkgUcmZZGlyYsmZeW92YSwgQmFrxLEsINCQ0LfQtdGA0LHQsNC50LTQttCw0L0!5e0!3m2!1sru!2s!4v1529351277575" width="600" height="288" style="border:0" allowfullscreen></iframe>

                                                    </div>

                                                    <div class="inner-left-xs">
                                                        <div class="wpb_wrapper">
                                                            <h2 class="contact-page-title">Ünvan</h2>
                                                            <p>Bakı şəhəri, Nərimanov rayonu, Gularə Qədirbəyova 16, Heydər Əliyev Mərkəzinin yanı<br />
                                                                Zəng Mərkəzi: *5577 və (+994) 05577 05577<br />
                                                                Email: <a href="mailto:info@unimax.az">info@unimax.az</a>
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .col -->
                                    </div><!-- .row -->
                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .col-full -->
            </div>