<section class="brands-carousel">
            	<h2 class="sr-only">Brands Carousel</h2>
            	<div class="container">
            		<div id="owl-brands" class="owl-brands owl-carousel unicase-owl-carousel owl-outer-nav">

            			<div class="item">

            				<a href="https://mobile.panasonic.com/in/" target="_blank">

            					<figure>
            						<figcaption class="text-overlay">
            							<div class="info">
            								<h4>Panasonic</h4>
            							</div><!-- /.info -->
            						</figcaption>

            						 <img src="assets/images/brands/Panasonic.jpg" class="img-responsive" alt="">

            					</figure>
            				</a>
            			</div><!-- /.item -->


            			<div class="item">

            				<a href="http://www.micromaxinfo.com/" target="_blank">

            					<figure>
            						<figcaption class="text-overlay">
            							<div class="info">
            								<h4>Micromax</h4>
            							</div><!-- /.info -->
            						</figcaption>

            						 <img src="assets/images/brands/Micromax.jpg" class="img-responsive" alt="">

            					</figure>
            				</a>
            			</div><!-- /.item -->


            			<div class="item">

            				<a href="http://www.taramobiles.com/" target="_blank">

            					<figure>
            						<figcaption class="text-overlay">
            							<div class="info">
            								<h4>TARA</h4>
            							</div><!-- /.info -->
            						</figcaption>

            						 <img src="assets/images/brands/Tara_logo.jpg" class="img-responsive" alt="">

            					</figure>
            				</a>
            			</div><!-- /.item -->


            			<div class="item">

            				<a href="https://www.allcall.hk/phones.html" target="_blank">

            					<figure>
            						<figcaption class="text-overlay">
            							<div class="info">
            								<h4>Allcall</h4>
            							</div><!-- /.info -->
            						</figcaption>

            						<img src="assets/images/brands/Allcall_logo.jpg" class="img-responsive" alt="">

            					</figure>
            				</a>
            			</div><!-- /.item -->


            		</div><!-- /.owl-carousel -->

            	</div>
            </section>