
              <div class="full-layout"></div>
               <div id="content" class="site-content single-product full-width" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Ana səhifə</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i></span>
                        <a href="shop/{{currentProduct.model_id}}">{{currentProduct.model_name}}</a>
                        <span class="delimiter" *ngIf="currentProduct.type_name"><i class="fa fa-angle-right"></i></span>
                      	<a *ngIf="currentProduct.type_name" href="shop/{{currentProduct.model_id}}@{{currentProduct.type_id}}">{{currentProduct.type_name_full}}</a>
                        <span class="delimiter"><i class="fa fa-angle-right"></i>
                        </span>{{currentProduct.firm_name}} {{currentProduct.type_name}} {{currentProduct.name}}
                    </nav><!-- /.woocommerce-breadcrumb -->

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">

                            <div class="product">

                                <div class="single-product-wrapper">
                                    <div class="product-images-wrapper">
                                        <span class="onsale" *ngIf="currentProduct.is_discount">Endirimdə!</span>
                                        <div class="images electro-gallery">
                                            <div class="thumbnails-single owl-carousel" *ngIf="currentProduct.imagesByColors">
                                                	<a *ngFor="let image of currentProduct.imagesByColors[currentColor];index as i" href="{{eService.api}}/{{image}}" class="zoom" title="" data-rel="prettyPhoto[product-gallery]"><img src="{{eService.api}}/{{image}}" class="wp-post-image" alt=""></a>
                                            </div>

                                            <div class="thumbnails-all columns-{{currentProduct.imagesByColors[currentColor] ? currentProduct.imagesByColors[currentColor].length : 0}} owl-carousel" *ngIf="currentProduct.imagesByColors">
                                                <a *ngFor="let image of currentProduct.imagesByColors[currentColor];index as i" href="{{eService.api}}/{{image}}" class="first" title=""><img src="{{eService.api}}/{{image}}" class="wp-post-image" alt=""></a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="summary entry-summary">

                                        <span class="loop-product-categories">
                                            <a href="shop/{{currentProduct.model_id}}" rel="tag">{{currentProduct.model_name}}</a>
                                        </span><!-- /.loop-product-categories -->

                                        <h1 itemprop="name" class="product_title entry-title">{{currentProduct.firm_name}} {{currentProduct.type_name}} {{currentProduct.name}}</h1>

                                        <div class="woocommerce-product-rating">
                                            <div class="star-rating" title="Rated {{currentProduct.reviewStars}} out of 5">
                                                <span [ngStyle]="{'width' : currentProduct.reviewRating}">
                                                    <strong itemprop="ratingValue" class="rating">{{currentProduct.reviewStars}}</strong>
                                                    out of <span itemprop="bestRating">5</span>				based on
                                                    <span itemprop="ratingCount" class="rating">{{currentProduct.reviewsCount}}</span>
                                                    rəy
                                                </span>
                                            </div>

                                            <a href="javascript:void(0);" (click)="showReviewsTab()" class="woocommerce-review-link">(<span itemprop="reviewCount" class="count">{{currentProduct.reviewsCount}}</span> rəy)</a>
                                        </div><!-- .woocommerce-product-rating -->

<!--
                                        <div class="brand">
                                            <a href="product-category.html">
                                                <img src="assets/images/single-product/brand.png" alt="Gionee" />
                                            </a>
                                        </div>
-->

                                        <div class="availability" [ngClass]="{'in-stock' : currentProduct.is_stock, 'out-of-stock' : !currentProduct.is_stock}">Ehtiyatda: <span>{{currentProduct.is_stock ? 'Var' : 'Tükənib'}}</span></div><!-- .availability -->

                                        <hr class="single-product-title-divider" />

<!--
                                        <div class="action-buttons">

                                            <a href="#" class="add_to_wishlist" >
                                                Wishlist
                                            </a>


                                            <a href="#" class="add-to-compare-link" data-product_id="2452">Compare</a>
                                        </div>
-->

                                        <div itemprop="description">
                                            <ul>
                                                <li *ngIf="currentProduct.os">Əməliyyat Sistemi: {{currentProduct.os}}</li>
                                                <li *ngIf="currentProduct.ram">Əməli yaddaş (RAM): {{currentProduct.ram}}</li>
                                                <li *ngIf="currentProduct.memory">Daxili yaddaş(ROM): {{currentProduct.memory}}</li>
                                                <li *ngIf="currentProduct.cpu">Prosessor: {{currentProduct.cpu}}</li>
																								<li *ngIf="currentProduct.display_inch || currentProduct.display_type">Ekran: <span *ngIf="currentProduct.display_inch">ölçüsü - {{currentProduct.display_inch}}</span><span *ngIf="currentProduct.display_type"><span *ngIf="currentProduct.display_inch">,</span> növü - {{currentProduct.display_type}}</span></li>
                                                <li *ngIf="currentProduct.main_camera_pixel">Əsas kamera: {{currentProduct.main_camera_pixel}}</li>
                                                <li *ngIf="currentProduct.second_camera">Ön kamera: {{currentProduct.second_camera}}</li>
                                                <li *ngIf="currentProduct.batery_size">Batareya: {{currentProduct.batery_size}}</li>
                                                <li *ngIf="currentProduct.network">Şəbəkə: {{currentProduct.network}}</li>
                                                <li *ngIf="currentProduct.sims">Sim kart: {{currentProduct.sims}}</li>
                                                <li *ngIf="currentProduct.sensor && currentProduct.sensor != 'Yox' && currentProduct.sensor != 'Yoxdur'">Barmaq izi sensoru</li>
                                                <li *ngIf="currentProduct.other_features">{{currentProduct.other_features}}</li>
                                            </ul>

<!--
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                            <p><strong>SKU</strong>: FW511948218</p>
-->
                                        </div><!-- .description -->

                                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                            <p class="price">
                                                                <span class="electro-price" *ngIf="!currentProduct.is_discount">
                                                                    <span class="amount">{{currentProduct.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="currentProduct.is_discount">
                                                                    <ins><span class="amount">{{currentProduct.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{currentProduct.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </p>

                                            <meta itemprop="price" content="{{currentProduct.price}}" />
                                            <meta itemprop="priceCurrency" content="AZN" />
                                            <link itemprop="availability" href="#" />

                                        </div><!-- /itemprop -->

                                        <form class="variations_form cart" method="post">

                                            <table class="variations">
                                                <tbody>
                                                    <tr>
                                                        <td class="label"><label>Rənglər</label></td>
                                                        <td class="value" *ngFor="let color of currentProduct.colors;index as i">
                                                        	<a href="shop/{{currentProduct.model_id}}@{{currentProduct.type_id}}/{{currentProduct.id}}/{{color.colorID}}"><div class="color-box" [ngStyle]="{'background-color': color.code}" [ngClass]="{'active-color': currentColor == color.code}"></div></a>
                                                        </td>
<!--
                                                        <td class="value">
                                                            <select class="" name="attribute_pa_color">
                                                                <option value="">Choose an option</option>
                                                                <option value="black-with-red" >Black with Red</option>
                                                                <option value="white-with-gold"  selected='selected'>White with Gold</option>
                                                            </select>
                                                            <a class="reset_variations" href="#">Clear</a>
                                                        </td>
-->
                                                    </tr>
                                                </tbody>
                                            </table>


                                            <div class="single_variation_wrap">
                                                <div class="woocommerce-variation single_variation"></div>
                                                <div class="woocommerce-variation-add-to-cart variations_button">
                                                    <div class="quantity">
                                                        <label>Quantity:</label>
                                                        <input type="number" name="quantity" [(ngModel)]="quantity" value="1" title="Qty" class="input-text qty text"/>
                                                    </div>
                                                    <button type="submit" class="single_add_to_cart_button button" (click)="addToCartSingle(currentProduct)">Səbətə əlavə et</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="social-share">
                                        	<share-button url="{{currentURL}}" button="facebook" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="twitter" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="google" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="vk" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="whatsapp" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="telegram" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="print" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="email" theme="circles-light"></share-button>
                                        </div>

                                    </div><!-- .summary -->
                                </div><!-- /.single-product-wrapper -->


                                <div class="woocommerce-tabs wc-tabs-wrapper">
                                    <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">
                                        <li class="nav-item accessories_tab">
                                            <a href="#tab-accessories" data-toggle="tab">Aksesuarlar</a>
                                        </li>

                                        <li class="nav-item description_tab">
                                            <a href="#tab-description" data-toggle="tab">Təsviri</a>
                                        </li>

                                        <li class="nav-item specification_tab">
                                            <a href="#tab-specification" data-toggle="tab">Xüsusiyyətlər</a>
                                        </li>

                                        <li class="nav-item reviews_tab">
                                            <a href="#tab-reviews" class="active" data-toggle="tab">Rəylər</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane panel entry-content wc-tab" id="tab-accessories">

                                            <div class="accessories">

                                                <div class="electro-wc-message"></div>
                                                <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-left">
                                                	<ul class="products columns-4">
                                                		<li class="product" *ngFor="let a of accessiores; index as i;">
                                                                <div class="product-outer">
                                                                    <div class="product-inner">
                                                                        <span class="loop-product-categories"><a href="shop/{{a.model_id}}" rel="tag">Aksesuarlar</a></span>
                                                                        <a href="shop/{{a.model_id}}/{{a.id}}">
                                                                            <h3>{{currentProduct.firm_name}} {{a.name}}</h3>
                                                                            <div class="product-thumbnail">

                                                                                <img src="{{eService.api}}/{{a.images[0]}}" alt="">

                                                                            </div>
                                                                        </a>

                                                                        <div class="price-add-to-cart">
                                                                            <span class="price">
                                                                                <span class="electro-price">
                                                                                    <span class="amount">{{a.price}} &#8380;</span>
                                                                                </span>
                                                                            </span>
                                                                            <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(pr);">Səbətə əlavə et</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
																									</ul>
																								</div>
<!--
                                                    <div class="col-xs-12 col-sm-9 col-left">
                                                        <ul class="products columns-3">

                                                            <li class="product first">
                                                                <div class="product-outer">
                                                                    <div class="product-inner">
                                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                                                        <a href="single-product.html">
                                                                            <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                                                            <div class="product-thumbnail">

                                                                                <img data-echo="assets/images/products/4.jpg" src="assets/images/blank.gif" alt="">

                                                                            </div>
                                                                        </a>

                                                                        <div class="price-add-to-cart">
                                                                            <span class="price">
                                                                                <span class="electro-price">
                                                                                    <ins><span class="amount">&#036;1,999.00</span></ins>
                                                                                    <del><span class="amount">&#036;2,299.00</span></del>
                                                                                </span>
                                                                            </span>
                                                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                                        </div>

                                                                        <div class="hover-area">
                                                                            <div class="action-buttons">
                                                                                <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="product ">
                                                                <div class="product-outer">
                                                                    <div class="product-inner">
                                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                                                        <a href="single-product.html">
                                                                            <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                                                            <div class="product-thumbnail">
                                                                                <img data-echo="assets/images/products/3.jpg" src="assets/images/blank.gif" alt="">
                                                                            </div>
                                                                        </a>

                                                                        <div class="price-add-to-cart">
                                                                            <span class="price">
                                                                                <span class="electro-price">
                                                                                    <ins><span class="amount">&#036;1,999.00</span></ins>
                                                                                    <del><span class="amount">&#036;2,299.00</span></del>
                                                                                </span>
                                                                            </span>
                                                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                                        </div>

                                                                        <div class="hover-area">
                                                                            <div class="action-buttons">
                                                                                <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="product last">
                                                                <div class="product-outer">
                                                                    <div class="product-inner">
                                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">Smartphones</a></span>
                                                                        <a href="single-product.html">
                                                                            <h3>Notebook Black Spire V Nitro  VN7-591G</h3>
                                                                            <div class="product-thumbnail">
                                                                                <img data-echo="assets/images/products/5.jpg" src="assets/images/blank.gif" alt="">
                                                                            </div>
                                                                        </a>

                                                                        <div class="price-add-to-cart">
                                                                            <span class="price">
                                                                                <span class="electro-price">
                                                                                    <ins><span class="amount">&#036;1,999.00</span></ins>
                                                                                    <del><span class="amount">&#036;2,299.00</span></del>
                                                                                </span>
                                                                            </span>
                                                                            <a rel="nofollow" href="single-product.html" class="button add_to_cart_button">Add to cart</a>
                                                                        </div>

                                                                        <div class="hover-area">
                                                                            <div class="action-buttons">
                                                                                <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                        </ul>

                                                        <div class="check-products">
                                                            <div class="checkbox accessory-checkbox">
                                                                <label>
                                                                    <input checked disabled type="checkbox" class="product-check">
                                                                    <span class="product-title">
                                                                        <strong>This product: </strong>Ultra Wireless S50 Headphones S50 with Bluetooth
                                                                    </span>
                                                                    -
                                                                    <span class="accessory-price">
                                                                        <span class="amount">&#36;1,215.00</span>
                                                                    </span>
                                                                </label>
                                                            </div>

                                                            <div class="checkbox accessory-checkbox">
                                                                <label>
                                                                    <input checked type="checkbox" class="product-check">
                                                                    <span class="product-title">Universal Headphones Case in Black</span>
                                                                    -
                                                                    <span class="accessory-price">
                                                                        <span class="amount">&#36;159.00</span>
                                                                    </span>
                                                                </label>
                                                            </div>

                                                            <div class="checkbox accessory-checkbox">
                                                                <label>
                                                                    <input checked type="checkbox" class="product-check">
                                                                    <span class="product-title">Headphones USB Wires</span>
                                                                    -
                                                                    <span class="accessory-price">
                                                                        <span class="amount">&#36;50.00</span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-xs-12 col-sm-3 col-right">
                                                        <div class="total-price">
                                                            <span class="total-price-html">
                                                                <span class="amount">&#036;1,424.00</span>
                                                            </span>
                                                            for <span class="total-products">3</span>
                                                            items
                                                        </div>

                                                        <div class="accessories-add-all-to-cart">
                                                            <button type="button" class="button btn btn-primary add-all-to-cart">Add all to cart</button>
                                                        </div>
                                                    </div>
-->
                                                </div><!-- /.row -->

                                            </div><!-- /.accessories -->
                                        </div>

                                        <div class="tab-pane in panel entry-content wc-tab " id="tab-description">
                                            <div class="electro-description">

<!--
                                                <h3>Perfectly Done</h3>
                                                <p>Praesent ornare, ex a interdum consectetur, lectus diam sodales elit, vitae egestas est enim ornare nisl. Nullam in lectus nec sem semper viverra. In lobortis egestas massa. Nam nec massa nisi. Suspendisse potenti. Quisque suscipit vulputate dui quis volutpat. Ut id elit facilisis, feugiat est in, tempus lacus. Ut ultrices dictum metus, a ultricies ex vulputate ac. Ut id cursus tellus, non tempor quam. Morbi porta diam nisi, id finibus nunc tincidunt eu.</p>
-->
                                               
                                               <div [innerHTML]="currentProduct.desc_text ? currentProduct.desc_text[0] : ''"></div>
                                                <table class="layout" *ngFor="let text of currentProduct.desc_text;index as i">
                                                    <tbody *ngIf="i>0 && i%2 == 1">
                                                        <tr>
                                                            <td [innerHTML]="text">
                                                           
                                                            </td>

                                                            <td *ngIf="currentProduct.desc_images[i-1] != undefined">
                                                                <img class="alignright" src="{{eService.api}}/{{currentProduct.desc_images[i-1]}}" alt="">

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="i>0 && i%2 == 0">
                                                        <tr>
                                                            <td *ngIf="currentProduct.desc_images[i-1] != undefined">
                                                                <img class="alignnone" src="{{eService.api}}/{{currentProduct.desc_images[i-1]}}" alt="">
                                                            </td>

                                                            <td [innerHTML]="text">
         
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><!-- /.electro-description -->

<!--
                                            <div class="product_meta">
                                                <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>


                                                <span class="posted_in">Category:
                                                    <a href="product-category.html" rel="tag">Headphones</a>
                                                </span>

                                                <span class="tagged_as">Tags:
                                                    <a href="product-category.html" rel="tag">Fast</a>,
                                                    <a href="product-category.html" rel="tag">Gaming</a>, <a href="product-category.html" rel="tag">Strong</a>
                                                </span>

                                            </div>
-->
                                        </div>

                                        <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
                                            <h3>Texniki göstəricilər</h3>
                                            <table class="table">
                                                <tbody>
                                                		<tr class="spec-table-header" *ngIf="currentProduct.network || currentProduct.twog || currentProduct.threeg || currentProduct.fourg || currentProduct.network_speed">
                                                			<td>Şəbəkə</td>
                                                			<td></td>
                                                		</tr>
   																									<tr *ngIf="currentProduct.network">
                                                        <td>Texnologiya</td>
                                                        <td>{{currentProduct.network}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.twog">
                                                        <td>2G</td>
                                                        <td>{{currentProduct.twog}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.threeg">
                                                        <td>3G</td>
                                                        <td>{{currentProduct.threeg}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.fourg">
                                                        <td>4G</td>
                                                        <td>{{currentProduct.fourg}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.network_speed">
                                                        <td>Şəbəkə sürəti</td>
                                                        <td>{{currentProduct.network_speed}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.size || currentProduct.weight || currentProduct.sims">
                                                			<td>Korpus</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.size">
                                                        <td>Ölçüsü</td>
                                                        <td>{{currentProduct.size}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.weight">
                                                        <td>Çəkisi</td>
                                                        <td>{{currentProduct.weight}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.sims">
                                                        <td>SİM</td>
                                                        <td>{{currentProduct.sims}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.display_type || currentProduct.display_inch || currentProduct.display_pixel || currentProduct.is_multitouch || currentProduct.display_defender">
                                                			<td>Ekran</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.display_type">
                                                        <td>Tipi</td>
                                                        <td>{{currentProduct.display_type}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.display_inch">
                                                        <td>Ölçüsü</td>
                                                        <td>{{currentProduct.display_inch}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.display_pixel">
                                                        <td>Görüntü imkanı</td>
                                                        <td>{{currentProduct.display_pixel}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.is_multitouch">
                                                        <td>Multitouch</td>
                                                        <td>{{currentProduct.is_multitouch}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.display_defender">
                                                        <td>Ekran qoruyucusu</td>
                                                        <td>{{currentProduct.display_defender}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.os || currentProduct.chipset || currentProduct.cpu || currentProduct.gpu || currentProduct.sensor">
                                                			<td>Platforma</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.os">
                                                        <td>Əməliyyat sistemi</td>
                                                        <td>{{currentProduct.os}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.chipset">
                                                        <td>Çipset</td>
                                                        <td>{{currentProduct.chipset}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.cpu">
                                                        <td>CPU</td>
                                                        <td>{{currentProduct.cpu}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.gpu">
                                                        <td>GPU</td>
                                                        <td>{{currentProduct.gpu}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.sensor">
                                                        <td>Barmaq izi sensoru</td>
                                                        <td>{{currentProduct.sensor}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.memory || currentProduct.ram || currentProduct.memory_card">
                                                			<td>Yaddaş</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.memory">
                                                        <td>Daxili yaddaş</td>
                                                        <td>{{currentProduct.memory}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.ram">
                                                        <td>RAM</td>
                                                        <td>{{currentProduct.ram}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.memory_card">
                                                        <td>Genişləndirilə bilən yaddaş (kart)</td>
                                                        <td>{{currentProduct.memory_card}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.main_camera_pixel || currentProduct.main_camera_desc || currentProduct.video || currentProduct.second_camera">
                                                			<td>Kamera</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.main_camera_pixel">
                                                        <td>Əsas kamera</td>
                                                        <td>{{currentProduct.main_camera_pixel}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.main_camera_desc">
                                                        <td>Əsas kamera təsviri</td>
                                                        <td>{{currentProduct.main_camera_desc}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.video">
                                                        <td>Video</td>
                                                        <td>{{currentProduct.video}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.second_camera">
                                                        <td>Ön kamera</td>
                                                        <td>{{currentProduct.second_camera}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.audio || currentProduct.vibration">
                                                			<td>Səs</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.audio">
                                                        <td>Audio</td>
                                                        <td>{{currentProduct.audio}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.vibration">
                                                        <td>Vibrasiya</td>
                                                        <td>{{currentProduct.vibration}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.wlan || currentProduct.bluetooth || currentProduct.gps || currentProduct.fm || currentProduct.usb || currentProduct.messaging">
                                                			<td>Əlaqə</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.wlan">
                                                        <td>WLAN</td>
                                                        <td>{{currentProduct.wlan}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.bluetooth">
                                                        <td>Bluetooth</td>
                                                        <td>{{currentProduct.bluetooth}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.gps">
                                                        <td>GPS</td>
                                                        <td>{{currentProduct.gps}}</td>
                                                    </tr>
                                                     <tr *ngIf="currentProduct.fm">
                                                        <td>Radio</td>
                                                        <td>{{currentProduct.fm}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.usb">
                                                        <td>USB</td>
                                                        <td>{{currentProduct.usb}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.messaging">
                                                        <td>Mesajlaşma</td>
                                                        <td>{{currentProduct.messaging}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.batery_size || currentProduct.batery_first_length || currentProduct.batery_second_length">
                                                			<td>Batareya</td>
                                                			<td></td>
                                                		</tr>
                                                    <tr *ngIf="currentProduct.batery_size">
                                                        <td>Ölçüsü</td>
                                                        <td>{{currentProduct.batery_size}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.batery_first_length">
                                                        <td>Danışıq vaxtı</td>
                                                        <td>{{currentProduct.batery_first_length}}</td>
                                                    </tr>
                                                    <tr *ngIf="currentProduct.batery_second_length">
                                                        <td>Musiqi çalanda vaxt</td>
                                                        <td>{{currentProduct.batery_second_length}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header" *ngIf="currentProduct.other_features">
                                                        <td>Digər xüsusiyyətləri</td>
                                                        <td>{{currentProduct.other_features}}</td>
                                                    </tr>
                                                    <tr class="spec-table-header">
                                                        <td>Çeşid</td>
                                                        <td>
																													<span *ngFor="let color of currentProduct.colors;let last = last;index as i">{{color.name}}<span *ngIf="!last">, </span></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- /.panel -->

                                        <div class="tab-pane panel entry-content wc-tab active" id="tab-reviews">
                                            <div id="reviews" class="electro-advanced-reviews">
                                                <div class="advanced-review row">
                                                    <div class="col-xs-12 col-md-6">
<!--                                                        <h2 class="based-title">Based on 3 reviews</h2>-->
                                                        <div class="avg-rating">
                                                            <span class="avg-rating-number">{{currentProduct.reviewStars}}</span> orta reyting
                                                        </div>

                                                        <div class="rating-histogram">
                                                            <div class="rating-bar">
                                                                <div class="star-rating" title="Rated 5 out of 5">
                                                                    <span style="width:100%"></span>
                                                                </div>
                                                                <div class="rating-percentage-bar">
                                                                    <span [ngStyle]="{'width' : ratingByNum['5w']}" class="rating-percentage">

                                                                    </span>
                                                                </div>
                                                                <div class="rating-count">{{ratingByNum["5"]}}</div>
                                                            </div>

                                                            <div class="rating-bar">
                                                                <div class="star-rating" title="Rated 4 out of 5">
                                                                    <span style="width:80%"></span>
                                                                </div>
                                                                <div class="rating-percentage-bar">
                                                                    <span [ngStyle]="{'width' : ratingByNum['4w']}" class="rating-percentage"></span>
                                                                </div>
                                                                <div class="rating-count">{{ratingByNum["4"]}}</div>
                                                            </div>

                                                            <div class="rating-bar">
                                                                <div class="star-rating" title="Rated 3 out of 5">
                                                                    <span style="width:60%"></span>
                                                                </div>
                                                                <div class="rating-percentage-bar">
                                                                    <span [ngStyle]="{'width' : ratingByNum['3w']}" class="rating-percentage"></span>
                                                                </div>
                                                                <div class="rating-count">{{ratingByNum["3"]}}</div>
                                                            </div>

                                                            <div class="rating-bar">
                                                                <div class="star-rating" title="Rated 2 out of 5">
                                                                    <span style="width:40%"></span>
                                                                </div>
                                                                <div class="rating-percentage-bar">
                                                                    <span [ngStyle]="{'width' : ratingByNum['2w']}" class="rating-percentage"></span>
                                                                </div>
                                                                <div class="rating-count">{{ratingByNum["2"]}}</div>
                                                            </div>

                                                            <div class="rating-bar">
                                                                <div class="star-rating" title="Rated 1 out of 5">
                                                                    <span style="width:20%"></span>
                                                                </div>
                                                                <div class="rating-percentage-bar">
                                                                    <span [ngStyle]="{'width' : ratingByNum['1w']}" class="rating-percentage"></span>
                                                                </div>
                                                                <div class="rating-count">{{ratingByNum["1"]}}</div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.col -->

                                                    <div class="col-xs-12 col-md-6">
                                                        <div id="review_form_wrapper">
                                                            <div id="review_form">
                                                                <div id="respond" class="comment-respond">
                                                                    <h3 id="reply-title" class="comment-reply-title">Şərh yaz
                                                                        
                                                                    </h3>

                                                                    <form action="#" method="post" id="commentform" class="comment-form">
                                                                        <p class="comment-form-rating">
                                                                            <label>Reyting</label>
                                                                        </p>

                                                                        <p class="stars">
                                                                            <span>
                                                                                <a class="star-1" [ngClass]="{'active' : rating>=1}" href="javascript:void(0);" (click)="setRating(1)">1</a>
                                                                                <a class="star-2" [ngClass]="{'active' : rating>=2}"  href="javascript:void(0);" (click)="setRating(2)">2</a>
                                                                                <a class="star-3" [ngClass]="{'active' : rating>=3}"  href="javascript:void(0);" (click)="setRating(3)">3</a>
                                                                                <a class="star-4" [ngClass]="{'active' : rating>=4}"  href="javascript:void(0);" (click)="setRating(4)">4</a>
                                                                                <a class="star-5" [ngClass]="{'active' : rating>=5}"  href="javascript:void(0);" (click)="setRating(5)">5</a>
                                                                            </span>
                                                                        </p>
                                                                        
                                                                        <p class="comment-username" *ngIf="isLogged != 'true'">
                                                                        	<label for="username">Ad və soyad</label>
                                                                        	<input type="text" id="username" name="username" [(ngModel)]="formUsername">
                                                                        </p>
                                                                        
                                                                        <p class="comment-username" *ngIf="isLogged == 'true'">
                                                                        	<label for="username">Ad və soyad</label>
                                                                        	<input type="text" disabled="disabled" id="username" name="username" value="{{username}} {{surname}}">
                                                                        </p>

                                                                        <p class="comment-form-comment">
                                                                            <label for="comment">Şərh</label>
                                                                            <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" [(ngModel)]="comment"></textarea>
                                                                        </p>

                                                                        <p class="form-submit">
                                                                            <input name="submit" type="submit" id="submit" class="submit" value="Göndər" (click)="sendReview()" />
                                                                            <input type='hidden' name='comment_post_ID' value='2452' id='comment_post_ID' />
                                                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                                        </p>

                                                                        <input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" value="c7106f1f46" />
                                                                        <script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
                                                                    </form><!-- form -->
                                                                </div><!-- #respond -->
                                                            </div>
                                                        </div>

                                                    </div><!-- /.col -->
                                                </div><!-- /.row -->

                                                <div id="comments">

                                                    <ol class="commentlist">
                                                        <li itemprop="review" class="comment even thread-even depth-1" *ngFor="let r of reviews;index as i;">

                                                            <div id="comment-390" class="comment_container">

                                                                <img alt='' src="assets/images/blog/avatar.jpg" class="avatar" height='60' width='60' />
                                                                <div class="comment-text">

                                                                    <div class="star-rating" title="Rated {{r.stars}} out of 5" *ngIf="r.stars">
                                                                        <span [ngStyle]="{'width' : r.width}"><strong itemprop="ratingValue">{{r.stars}}</strong> out of 5</span>
                                                                    </div>

<!--
                                                                    <p class="meta">
                                                                        <strong *ngIf="r.customers">{{r.customers.name}} {{r.customers.surname}}</strong><strong *ngIf="r.username">{{r.username}}</strong> &ndash;
                                                                        <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">{{r.created_at}}</time>:
                                                                    </p>
-->



                                                                    <div itemprop="description" class="description">
                                                                        <p>{{r.review}}
                                                                        </p>
                                                                    </div>


                                                                    <p class="meta">
                                                                        <strong itemprop="author" *ngIf="r.customers && r.customers.name">{{r.customers.name}} {{r.customers.surname}}</strong><strong itemprop="author" *ngIf="r.username">{{r.username}}</strong> &ndash; <time itemprop="datePublished" datetime="2016-03-03T14:13:48+00:00">{{r.created_at}}</time>
                                                                    </p>


                                                                </div>
                                                            </div>
                                                        </li><!-- #comment-## -->
                                                    </ol>

                                                </div>

                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.woocommerce-tabs -->

                                <div class="related products">
                                    <h2>Oxşar Məhsullar</h2>
                                    <ul class="products columns-5">
                                        <li class="product" *ngFor="let pr of relatedProducts; index as i;" [ngClass]="{'hidden': pr.id == currentProduct.id}">
                                            <div class="product-outer">
                                                <div class="product-inner">
                                                    <span class="loop-product-categories"><a href="shop/{{pr.model_id}}" rel="tag">{{pr.model_name}}</a></span>
                                                    <a href="shop/{{pr.model_id}}@{{pr.type_id}}/{{pr.id}}">
                                                        <h3>{{pr.firm_name}} {{pr.type_name}} {{pr.name}}</h3>
                                                        <div class="product-thumbnail">
                                                            <img src="{{eService.api}}/{{pr.images[0]}}" alt="">
                                                        </div>
                                                    </a>

                                                    <div class="price-add-to-cart">
                                                        <span class="price">
                                                                <span class="electro-price" *ngIf="!pr.is_discount">
                                                                    <span class="amount">{{pr.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="pr.is_discount">
                                                                    <ins><span class="amount">{{pr.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{pr.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                        <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(pr);">Səbətə əlavə et</a>
                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                    <div class="hover-area">
                                                        <div class="action-buttons">
                                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>
                                                            <a href="#" class="add-to-compare-link">Compare</a>
                                                        </div>
                                                    </div>
-->
                                                </div><!-- /.product-inner -->
                                            </div><!-- /.product-outer -->
                                        </li>
                                    </ul><!-- /.products -->
                                </div><!-- /.related -->
                            </div><!-- /.product -->

                        </main><!-- /.site-main -->
                    </div><!-- /.content-area -->
                </div><!-- /.container -->
            </div>