.color-box{
		height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 100%;
		cursor: pointer;
}

.active-color{
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.thumbnails-all > a > img{
		max-width: 180px;
		max-height: 180px;
}

.thumbnails-single > a >img{
		max-width: 100%;
		max-height: 600px;
	  margin: 0 auto;
}

tr.spec-table-header > td:first-child{
	  padding-left: 0!important;
    font-size: 1.2em!important;
    font-weight: 900;
}

.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}

.product-thumbnail>img{
	  max-height: 210px;
    margin: 0 auto;
}

p.stars a.active:before{
	content: '\f005'!important;
}

#content.site-content{
	margin-bottom: 100px;
}

.product.hidden{
	display: none;
	opacity: 0;
	visibility: hidden;
}

.social-share{
	border-top: 0.95px solid #eceeef;
	border-bottom: 0.95px solid #eceeef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.variations_form{
	margin-bottom: 26px;
}

.accessories .products .price-add-to-cart .button{
	display: inline-block;
}

.accessories .products li.product::before{
	content: none;
}