.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}
.electro-price-black{
	color: #343f49;
}

div#grid div.product-thumbnail>img{
		max-width: 250px;
    width: auto;
    max-height: 232px;
		margin: 0 auto;
}

div#list-view div.media-left img{
	  max-width: 250px;
    width: auto;
    max-height: 232px;
}

.widget_electro_products_filter .widget_layered_nav li > a::before, .widget_electro_products_filter .widget_product_categories li > a::before{
	content: '';
}

.widget_layered_nav a{
	margin-left: -2px;
}

.hidden{
	display: none!important;
}

.shop-control-bar-bottom .woocommerce-pagination .prev, .shop-control-bar-bottom .woocommerce-pagination .next{
	display: block;
}

.page-breaker{
	  border: none!important;
    padding: 0.643em 0.25em!important;
}