<app-header [brends]="brends" [models]="models" [blogs]="blogs"></app-header>
<app-shop-content class="left-sidebar" [brends]="brends" [models]="models" [types]="types" *ngIf="pageNumber==1"></app-shop-content>
<app-shop-detail class="single-product full-width" [brends]="brends" [models]="models" [types]="types" *ngIf="pageNumber==2"></app-shop-detail>