<div class="full-layout"></div>
               <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" >
                    	<a href="/">Ana səhifə</a>
                    	<span class="delimiter"><i class="fa fa-angle-right"></i></span>
                    	<a href="shop/{{currentCategory}}">{{currentCategoryTitle}}</a>
                    	<span class="delimiter" *ngIf="currentModel && !currentString"><i class="fa fa-angle-right"></i></span>
                      <span *ngIf="currentModel">{{currentModelTitle}}</span>
                      <span class="delimiter" *ngIf="currentString"><i class="fa fa-angle-right"></i></span>
                      <span *ngIf="currentString">`{{currentString}}`</span>
                    </nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <header class="page-header">
                                <h1 class="page-title" *ngIf="!currentModel && !currentString">{{currentCategoryTitle}}</h1>
                                <h1 class="page-title" *ngIf="currentModel && !currentString">{{currentModelTitle}}</h1>
                                <h1 class="page-title" *ngIf="currentString">`{{currentString}}`</h1>
                                <p class="woocommerce-result-count" *ngIf="!currentString && totalProd > 0">{{totalProd}} nəticədən {{fromProd}}&ndash;{{toProd}} nəticələr göstərilir</p>
                            </header>

                            <div class="shop-control-bar">
                                <ul class="shop-view-switcher nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" title="Grid View" href="#grid"><i class="fa fa-th"></i></a></li>
                                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="Grid Extended View" href="#grid-extended"><i class="fa fa-align-justify"></i></a></li>
                                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="List View" href="#list-view"><i class="fa fa-list"></i></a></li>
<!--                                    <li class="nav-item"><a class="nav-link " data-toggle="tab" title="List View Small" href="#list-view-small"><i class="fa fa-th-list"></i></a></li>-->
                                </ul>
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby" [(ngModel)]="selectedSort" (change)="selectSort()">
                                        <option *ngFor="let sort of sortBy" [ngValue]="sort">{{sort.title}}</option>
                                    </select>
                                </form>
                                <form class="form-electro-wc-ppp" *ngIf="!currentString"><select name="ppp" class="electro-wc-wppp-select c-select" [(ngModel)]="selectedShow" (change)="selectShow()"><option *ngFor="let show of showBy" [ngValue]="show">{{show.show}}</option></select></form>
                                <nav class="electro-advanced-pagination" *ngIf="!currentString">
<!--
                                    <form method="post" class="form-adv-pagination">
                                    	<input id="goto-page" size="2" min="1" max="2" step="1" type="number" class="form-control" value="1" />
                                    	</form> 
-->
                                   	<a class="prev page-numbers" href="javascript:void(0);" *ngIf="prevPageUrl" (click)="paginate(prevPageUrl)">&larr;</a>
                                    	<span>{{lastPage}}</span> dən {{currentPage}}
                                    <a class="next page-numbers" href="javascript:void(0);" *ngIf="nextPageUrl" (click)="paginate(nextPageUrl)">&rarr;</a>			
                                    <script>
                                    jQuery(document).ready(function($){
                                        $( '.form-adv-pagination' ).on( 'submit', function() {
                                            var link 		= '#',
                                            goto_page 	= $( '#goto-page' ).val(),
                                            new_link 	= link.replace( '%#%', goto_page );

                                            window.location.href = new_link;
                                            return false;
                                        });
                                    });
                                    </script>
                                </nav>
                            </div>

                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="grid" aria-expanded="true">

                                    <ul class="products columns-3">
                                        <li class="product" *ngFor="let product of products; index as i" [ngClass]="{'first': i%3 == 0, 'last': (i+1)%3 == 0}">
                                            <div class="product-outer">
                                                <div class="product-inner">
                                                    <span class="loop-product-categories"><a href="shop/{{product.model_id}}" rel="tag">{{product.model_name}}</a></span>
                                                    <a href="shop/{{product.model_id}}@{{product.type_id}}/{{product.id}}">
                                                        <h3>{{product.firm_name}} {{product.type_name}} {{product.name}}</h3>
                                                        <div class="product-thumbnail">

                                                            <img src="{{eService.api}}/{{product.images[0]}}" alt="">

                                                        </div>
                                                    </a>

                                                    <div class="price-add-to-cart">
                                                        <span class="price">
                                                                <span class="electro-price" *ngIf="!product.is_discount">
                                                                    <span class="amount electro-price-block">{{product.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="product.is_discount">
                                                                    <ins><span class="amount">{{product.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{product.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                        <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(product)">Səbətə əlavə et</a>
                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                    <div class="hover-area">
                                                        <div class="action-buttons">
                                                            <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                            <a href="#" class="add-to-compare-link">Compare</a>
                                                        </div>
                                                    </div>
-->
                                                </div>
                                                <!-- /.product-inner -->
                                            </div><!-- /.product-outer -->
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="grid-extended" aria-expanded="true">

                                    <ul class="products columns-3">
                                        <li class="product" *ngFor="let product of products; index as i" [ngClass]="{'first': i%3 == 0, 'last': (i+1)%3 == 0}">
                                            <div class="product-outer">
                                                <div class="product-inner">
                                                    <span class="loop-product-categories"><a href="shop/{{product.model_id}}" rel="tag">{{product.model_name}}</a></span>
                                                    <a href="shop/{{product.model_id}}@{{product.type_id}}/{{product.id}}">
                                                        <h3>{{product.firm_name}} {{product.type_name}} {{product.name}}</h3>
                                                        <div class="product-thumbnail">
                                                            <img class="wp-post-image" src="{{eService.api}}/{{product.images[0]}}" alt="">
                                                        </div>

                                                        <div class="product-rating">
                                                            <div title="Rated 4 out of 5" class="star-rating"><span [ngStyle]="{'width' : product.reviewsAw}"><strong class="rating">{{product.reviewsA}}</strong> out of 5</span></div> ({{product.reviews.length}})
                                                        </div>

                                                        <div class="product-short-description">
                                                            <ul>
                                                                <li><span class="a-list-item">{{product.cpu}} Processor</span></li>
                                                                <li><span class="a-list-item">{{product.display_inch}} {{product.display_type}} Ekran</span></li>
                                                                <li><span class="a-list-item">{{product.main_camera_pixel}} əsas və {{product.second_camera}} əlavə kamera</span></li>
                                                                <li><span class="a-list-item">{{product.os}}</span></li>
                                                                <li><span class="a-list-item">{{product.batery_size}} Batareya</span></li>
                                                            </ul>
                                                        </div>

<!--                                                        <div class="product-sku">SKU: 5487FB8/15</div>-->
                                                    </a>
                                                    <div class="price-add-to-cart">
                                                        <span class="price">
                                                                <span class="electro-price" *ngIf="!product.is_discount">
                                                                    <span class="amount">{{product.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="product.is_discount">
                                                                    <ins><span class="amount">{{product.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{product.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                        <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(product)">Səbətə əlavə et</a>
                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                    <div class="hover-area">
                                                        <div class="action-buttons">
                                                            <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                            <a href="#" class="add-to-compare-link">Compare</a>
                                                        </div>
                                                    </div>
-->

                                                </div><!-- /.product-inner -->
                                            </div><!-- /.product-outer -->
                                        </li>
                                    </ul>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="list-view" aria-expanded="true">
                                    <ul class="products columns-3">
                                        <li class="product list-view" *ngFor="let product of products; index as i">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="shop/{{product.model_id}}@{{product.type_id}}/{{product.id}}">
                                                        <img class="wp-post-image" src="{{eService.api}}/{{product.images[0]}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <span class="loop-product-categories"><a rel="tag" href="shop/{{product.model_id}}">{{product.model_name}}</a></span><a href="shop/{{product.model_id}}@{{product.type_id}}/{{product.id}}"><h3>{{product.firm_name}} {{product.type_name}} {{product.name}}</h3>
                                                                <div class="product-rating">
                                                                    <div title="Rated 4 out of 5" class="star-rating"><span [ngStyle]="{'width' : product.reviewsAw}"><strong class="rating">{{product.reviewsA}}</strong> out of 5</span></div> ({{product.reviews.length}})
                                                                </div>
                                                                <div class="product-short-description">
                                                                    <ul style="padding-left: 18px;">
                                                                        <li>{{product.display_inch}} {{product.display_type}} Ekran</li>
                                                                        <li>{{product.os}}</li>
                                                                        <li>{{product.cpu}} Processor</li>
                                                                        <li>{{product.main_camera_pixel}} Əsas kamera</li>
                                                                    </ul>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-12">

                                                            <div class="availability" [ngClass]="{'in-stock': product.is_stock, 'out-of-stock': !product.is_stock}">Ehtiyatda: <span>{{product.is_stock ? "Var" : "Tükənib"}}</span></div>

                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!product.is_discount">
                                                                    <span class="amount">{{product.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="product.is_discount">
                                                                    <ins><span class="amount">{{product.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{product.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_sku="5487FB8/35" data-product_id="2706" data-quantity="1" href="javascript:void(0)" rel="nofollow" (click)="addToCart(product)">Səbətə əlavə et</a>
<!--
                                                            <div class="hover-area">
                                                                <div class="action-buttons">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2706">
                                                                        <a class="add_to_wishlist" data-product-type="simple" data-product-id="2706" rel="nofollow" href="#">Wishlist</a>

                                                                        <div style="display:none;" class="yith-wcwl-wishlistaddedbrowse hide">
                                                                            <span class="feedback">Product added!</span>
                                                                            <a rel="nofollow" href="#">Wishlist</a>
                                                                        </div>

                                                                        <div style="display:none" class="yith-wcwl-wishlistexistsbrowse hide">
                                                                            <span class="feedback">The product is already in the wishlist!</span>
                                                                            <a rel="nofollow" href="#">Wishlist</a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>
                                                                    <div class="clear"></div>
                                                                    <a data-product_id="2706" class="add-to-compare-link" href="#">Compare</a>
                                                                </div>
                                                            </div>
-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
<!--
                                <div role="tabpanel" class="tab-pane" id="list-view-small" aria-expanded="true">

                                    <ul class="products columns-3">
                                        <li class="product list-view list-view-small" *ngFor="let product of products; index as i">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="shop/{{product.model_id}}@{{product.type_id}}/{{product.id}}">
                                                        <img class="wp-post-image" src="{{eService.api}}/{{product.images[0]}}" alt="">
                                                    </a>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <span class="loop-product-categories"><a rel="tag" href="shop/{{product.model_id}}">{{product.model_name}}</a></span><a href="product-category.html"><h3>{{product.firm_name}} {{product.type_name}} {{product.name}}</h3>
                                                                <div class="product-short-description">
                                                                    <ul style="padding-left: 18px;">
                                                                        <li>4.5 inch HD Screen</li>
                                                                        <li>Android 4.4 KitKat OS</li>
                                                                        <li>1.4 GHz Quad Core&trade; Processor</li>
                                                                        <li>20 MP front Camera</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="product-rating">
                                                                    <div title="Rated 4 out of 5" class="star-rating"><span style="width:80%"><strong class="rating">4</strong> out of 5</span></div> (3)
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="price-add-to-cart">
                                                                <span class="price">
																																	<span class="electro-price" *ngIf="!product.is_discount">
																																			<span class="amount">{{product.price}} &#8380;</span>
																																	</span>
																																	<span class="electro-price" *ngIf="product.is_discount">
																																			<ins><span class="amount">{{product.new_price}} &#8380;</span></ins>
																																			<del><span class="amount">{{product.price}} &#8380;</span></del>
																																			<span class="amount"> </span>
																																	</span>
																															</span>
                                                                <a class="button add_to_cart_button" href="javascript:void(0)" (click)="addToCart(product)" rel="nofollow">Səbətə əlavə et</a>
                                                            </div>  

                                                            <div class="hover-area">
                                                                <div class="action-buttons">
                                                                    <a href="#" rel="nofollow" class="add_to_wishlist">Wishlist</a>
                                                                    <a href="compare.html" class="add-to-compare-link">Compare</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
-->
                            </div>
                            <div class="shop-control-bar-bottom">
                                <form class="form-electro-wc-ppp" *ngIf="!currentString"><select name="ppp" class="electro-wc-wppp-select c-select" [(ngModel)]="selectedShow" (change)="selectShow()"><option *ngFor="let show of showBy" [ngValue]="show">{{show.show}}</option></select></form>
                                <p class="woocommerce-result-count" *ngIf="!currentString && totalProd > 0">{{totalProd}} nəticədən {{fromProd}}&ndash;{{toProd}} nəticələr göstərilir</p>
                                <nav class="woocommerce-pagination" *ngIf="!currentString">
                                    <ul class="page-numbers">
                                       	<li><a href="javascript:void(0);" class="prev page-numbers" (click)="paginate(prevPageUrl)" *ngIf="prevPageUrl">&#8592;</a></li>
                                        <li><span class="page-numbers current">{{currentPage}}</span></li>
                                        <li><span class="page-breaker" *ngIf="nextPageUrl">&#8212;</span></li>
                                        <li><a href="javascript:void(0);" class="page-numbers" *ngIf="nextPageUrl" (click)="paginate(lastPageUrl)">{{lastPage}}</a></li>
                                        <li><a href="javascript:void(0);" class="next page-numbers" *ngIf="nextPageUrl" (click)="paginate(nextPageUrl)">&#8594;</a></li>
                                    </ul>
                                </nav>
                            </div>

                        </main><!-- #main -->
                    </div><!-- #primary -->

                    <div id="sidebar" class="sidebar" role="complementary">
                        <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                            <ul class="product-categories category-single">
                                <li class="product_cat">
                                    <ul class="show-all-cat">
                                        <li class="product_cat current-cat"><span class="show-all-cat-dropdown">Kategoriyalar</span>
                                        </li>
                                    </ul>
                                    <ul>
                                       <li class="cat-item" [ngClass]="{'current-cat': currentCategory == 0}" *ngIf="!currentString || (currentString && currentCategory == '0')"><a href="shop">Bütün məhsullar</a> <span class="count">({{currentString ? products.length : modelsCount}})</span>
                                        </li>
                                        <li class="cat-item" *ngFor="let model of models; index as i" [ngClass]="{'current-cat': currentCategory == model.id, 'hidden': (currentString && currentCategory != model.id)}"><a href="shop/{{model.id}}" *ngIf="!currentString || (currentString && currentCategory == model.id)">{{model.name}}</a> <span class="count" *ngIf="!currentString || (currentString && currentCategory == model.id)">({{currentString ? products.length : model.model_count}})</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget widget_electro_products_filter">
                            <h3 class="widget-title">Filtrlə</h3>
                            <aside class="widget woocommerce widget_layered_nav">
                                <h3 class="widget-title">Brendlər</h3>
                                <ul>
                                    <li style="" *ngFor="let brend of currentBrends;index as i">
                                  	 		<input type="checkbox" [(ngModel)]="brend.isSelected">
                                   	 		<a>{{brend.name}}</a> 
                                    		<span class="count">({{brend.count}})</span>
                                    </li>
                                </ul>
                            </aside>
<!--
                            <aside class="widget woocommerce widget_layered_nav">
                                <h3 class="widget-title">Rənglər</h3>
                                <ul>
                                    <li style="" *ngFor="let color of colors;index as i">
                                    	<input type="checkbox" [(ngModel)]="color.isSelected">
                                    	<a>{{color.name}}</a> 
                                    	<span class="count">({{color.count}})</span>
                                    </li>
                                </ul>
                            </aside>
-->
                            <aside class="widget woocommerce widget_price_filter">
                                <h3 class="widget-title">Qiymət</h3>
                                <form action="#">
                                    <div class="price_slider_wrapper">
                                        <div style="" class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
                                            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 0%;"></span>
                                            <span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 100%;"></span>
                                        </div>
                                        <div class="price_slider_amount">
                                            <a href="javascript:void(0);" class="button" (click)="filter();">Filtrlə</a>
                                            <div style="" class="price_label">Price: <span class="from">{{minPrice}}&#8380;</span> &mdash; <span class="to">{{maxPrice}}&#8380;</span></div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </form>
                            </aside>
                        </aside>
                        <aside class="widget widget_text">
                            <div class="textwidget">
                                <a href="{{banner.image ? banner.image : 'javascript:void(0);'}}"><img src="{{eService.api}}/{{banner.link}}" alt="Banner"></a>
                            </div>
                        </aside>
                        <aside class="widget widget_products">
                            <h3 class="widget-title">Son Məhsullar</h3>
                            <ul class="product_list_widget">
                                <li *ngFor="let pr of lastProducts; index as i;">
                                    <a href="shop/{{pr.model_id}}@{{pr.type_id}}/{{pr.id}}" title="Notebook Black Spire V Nitro  VN7-591G">
                                        <img width="180" height="180" src="{{eService.api}}/{{pr.images[0]}}" class="wp-post-image" alt=""/><span class="product-title">{{pr.firm_name}} {{pr.type_name}} {{pr.name}}</span>
                                    </a>
                                    <span class="electro-price" *ngIf="!pr.is_discount">
                                        <span class="amount">{{pr.price}} &#8380;</span>
                                    </span>
                                    <span class="electro-price" *ngIf="pr.is_discount">
                                        <ins><span class="amount">{{pr.new_price}} &#8380;</span></ins>
                                        <del><span class="amount">{{pr.price}} &#8380;</span></del>
                                        <span class="amount"> </span>
                                    </span>
                                </li>
                            </ul>
                        </aside>
                    </div>

                </div><!-- .container -->
            </div>