.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}

.widget_categories .cat-item a.active{
	font-weight: bold;
}

article.post .entry-content{
	  max-height: 130px;
    overflow: hidden;
}

:host ::ng-deep div.entry-content > div > p:nth-child(2) { 
  overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.page-breaker{
	  border: none!important;
    padding: 0.643em 0.25em!important;
}

.electro_recent_posts_widget ul > li .post-thumbnail img {
      height: auto;
      width: auto;
}