<div class="full-layout"></div>
               <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb">
                    	<a href="/">Ana səhifə</a>
                    	<span class="delimiter" *ngIf="!currentString && !currentTag"><i class="fa fa-angle-right"></i></span>{{currentString ? '' : currentTitle}}
                    	<span class="delimiter" *ngIf="currentString || currentTag"><i class="fa fa-angle-right"></i></span><span *ngIf="currentString || currentTag">Blog</span>
                    	<span class="delimiter" *ngIf="currentString"><i class="fa fa-angle-right"></i></span><span *ngIf="currentString">`{{currentString}}`</span>
                    	<span class="delimiter" *ngIf="currentTag"><i class="fa fa-angle-right"></i></span><span *ngIf="currentTag">#{{currentTagName}}</span>
                    </nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <article class="post format-standard hentry" *ngFor="let blog of blogPosts;index as i;">

                                <div class="media-attachment"><a href="blog/{{blog.blog_title_id}}/{{blog.id}}"><img width="870" height="460" src="{{eService.api}}/{{blog.image}}" class="wp-post-image" alt="8"/></a></div>
                                <div class="content-body">
                                    <header class="entry-header">
                                        <h1 class="entry-title" itemprop="name headline"><a href="blog/{{blog.blog_title_id}}/{{blog.id}}" rel="bookmark">{{blog.name}}</a></h1>
                                        <div class="entry-meta">
                                            <span class="cat-links" *ngIf="blog.blog_tags && blog.blog_tags.length">
																							<a href="blog/tags?id={{t.id}}" rel="category tag" *ngFor="let t of blog.blog_tags;index as i;let first = first; let last = last;">{{t.name}}<span *ngIf="!last"> , </span></a>
																						</span>
                                            <span class="posted-on"><a rel="bookmark"><time class="entry-date published" datetime="2016-03-01T07:40:25+00:00">{{blog.created_at}}</time></a></span>
                                        </div>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content" itemprop="articleBody">
                                        <div [innerHTML]="blog.text"></div>
                                    </div><!-- .post-excerpt -->

                                    <div class="post-readmore"><a href="blog/{{blog.blog_title_id}}/{{blog.id}}" class="btn btn-primary">Ardını oxu</a></div>
                                    <span class="comments-link"><a href="blog/{{blog.blog_title_id}}/{{blog.id}}#comment">Şərh et</a></span>
                                </div>

                            </article><!-- #post-## -->
                            <nav class="navigation pagination">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <div class="nav-links">
                                    <ul class='page-numbers'>
                                       	<li><a class="prev page-numbers" href="javascript:void(0);" *ngIf="prevPageUrl" (click)="paginate(prevPageUrl)">&larr;</a></li>
                                        <li><span class='page-numbers current'>{{currentPage}}</span></li>
                                        <li><span class="page-breaker" *ngIf="nextPageUrl">&#8212;</span></li>
                                        <li><a class='page-numbers' href='javascript:void(0);' *ngIf="nextPageUrl" (click)="paginate(lastPageUrl)">{{lastPage}}</a></li>
                                        <li><a class="next page-numbers" href="javascript:void(0);" *ngIf="nextPageUrl" (click)="paginate(nextPageUrl)">&rarr;</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </main><!-- #main -->
                    </div><!-- #primary -->

                    <div id="sidebar" class="sidebar-blog" role="complementary">
                        <aside id="search-2" class="widget widget_search">
                            <form role="search" method="get" class="search-form" action="#">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" (keyup.enter)="search()" [(ngModel)]="searchString" placeholder="Axtarış" name="s" />
                                </label>
<!--                                <input type="submit" class="search-submit" value="Search" />-->
                            </form>
                        </aside>

                        <aside class="widget widget_categories">
                            <h3 class="widget-title">Kategoriyalar</h3>
                            <ul>
                                <li class="cat-item" *ngFor="let c of blogTitles;index as i;">
                                	<a href="blog/{{c.id}}" [ngClass]="{'active': c.id == pageID}">{{c.name}}</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget electro_recent_posts_widget">
                           <h3 class="widget-title">Yeni Yazılar</h3>
                            <ul>
                                <li *ngFor="let b of blogLast;index as i;">
                                    <a class="post-thumbnail" href="blog/{{b.blog_title_id}}/{{b.id}}"><img width="150" height="150" src="{{eService.api}}/{{b.image}}" class="wp-post-image" alt="1"/></a>
                                    <div class="post-content">
                                        <a class ="post-name" href="blog/{{b.blog_title_id}}/{{b.id}}">{{b.name}}</a>
                                        <span class="post-date">{{b.created_at}}</span>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                        <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                           <h3 class="widget-title">Etiketlər</h3>
                            <div class="tagcloud">
                                <a href='blog/tags?id={{t.id}}' class='' title='10 topics' style='font-size: 22pt;' *ngFor="let t of blogTags;index as i;">{{t.name}}</a>
                            </div>
                        </aside>
                    </div>
                </div><!-- .container -->
            </div>