.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}

.social-share{
	border-top: 0.95px solid #eceeef;
	border-bottom: 0.95px solid #eceeef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.comments-area{
	    margin-top: 3em;
}


.electro_recent_posts_widget ul > li .post-thumbnail img {
      height: auto;
      width: auto;
}
