<div class="full-layout"></div>
<app-header [brends]="brends" [models]="models" [blogs]="blogs"></app-header>
<div class="single-post right-sidebar">
               <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav itemprop="breadcrumb" class="woocommerce-breadcrumb"><a href="/">Ana səhifə</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><a href="blog/{{currentBlog.blog_title_id}}">{{currentBlog.blog_titles ? currentBlog.blog_titles.name : ''}}</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>{{currentBlog.name}}</nav>

                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <article class="post type-post status-publish format-gallery has-post-thumbnail hentry" >
                                <div class="media-attachment">
                                    <div class="media-attachment-gallery">
                                        <div class=" ">
                                            <div class="item">
                                                <figure>
                                                    <img width="1144" height="600" src="{{eService.api}}/{{currentBlog.image}}" class="attachment-post-thumbnail size-post-thumbnail" alt="1" />
                                                </figure>
                                            </div><!-- /.item -->
                                        </div>
                                    </div><!-- /.media-attachment-gallery -->
                                </div>

                                <header class="entry-header">
                                    <h1 class="entry-title" itemprop="name headline">{{currentBlog.name}}<span class="comments-link"><a href="blog/{{currentBlog.blog_title_id}}/{{currentBlog.id}}#comment">Şərh yaz</a></span></h1>

                                    <div class="entry-meta">
                                        <span class="cat-links" *ngIf="currentBlog.blog_tags && currentBlog.blog_tags.length">
                                        	<a href="blog/tags?id={{t.id}}" rel="category tag" *ngFor="let t of currentBlog.blog_tags;index as i;let first = first; let last = last;">{{t.name}}<span *ngIf="!last"> , </span></a>
                                        </span>
                                        <span class="posted-on"><a rel="bookmark"><time class="entry-date published" datetime="2016-03-04T07:34:20+00:00">{{currentBlog.created_at}}</time></a></span>
                                    </div>
                                </header><!-- .entry-header -->

                                <div class="entry-content" itemprop="articleBody" [innerHTML]="currentBlog.text">
                                    
                                </div><!-- .entry-content -->
                            </article>
                            <div class="social-share">
                                        	<share-button url="{{currentURL}}" button="facebook" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="twitter" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="google" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="vk" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="whatsapp" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="telegram" theme="circles-light"></share-button>
                                       		<share-button url="{{currentURL}}" button="print" theme="circles-light"></share-button>
																					<share-button url="{{currentURL}}" button="email" theme="circles-light"></share-button>
                                        </div>
<!--
                            <div class="post-author-info">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img src="assets/images/blog/avatar.jpg" alt=""></a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">Jane Smith</a></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices interdum, leo metus luctus sem, vel vulputate diam ipsum sed lorem.</p>
                                    </div>
                                </div>
                            </div>
-->
<!--
                            <nav class="navigation post-navigation">
                                <h2 class="screen-reader-text">Post navigation</h2>
                                <div class="nav-links"><div class="nav-previous"><a rel="prev" href="#"><span class="meta-nav">←</span>&nbsp;Robot Wars &ndash; Now Closed &ndash; Post with Audio</a></div></div>
                            </nav>
-->
                            <div class="comments-area" id="comments">

                                <h2 class="comments-title" *ngIf="comments.length">Şərhlər</h2>

                                <ol class="comment-list" *ngIf="comments.length">
                                    <li id="comment-396" class="comment even thread-even depth-1" *ngFor="let c of comments;index as i;">
                                        <div class="media">
<!--
                                            <div class="gravatar-wrapper media-left">
                                                <img class="avatar avatar-100 photo" src="assets/images/blog/avatar.jpg" alt="">
                                            </div>
-->

                                            <div class="comment-body media-body">

                                                <div class="comment-content" id="div-comment-396">
                                                    <p>{{c.text}}</p>
                                                </div>

                                                <div class="comment-meta" id="div-comment-meta-396">
                                                    <div class="author vcard">
                                                        <cite class="fn media-heading" *ngIf="c.username">{{c.username}}</cite>
                                                        <cite class="fn media-heading" *ngIf="c.customers && c.customers.name">{{c.customers.name}} {{c.customers.surname}}</cite>
                                                    </div>

                                                    <div class="date">
                                                        <a class="comment-date" href="javascript:void(0);">{{c.created_at}}</a>
                                                    </div>

<!--
                                                    <div class="reply">
                                                        <a aria-label="Reply to John Doe" onclick="return addComment.moveForm( &quot;div-comment-meta-396&quot;, &quot;396&quot;, &quot;respond&quot;, &quot;2415&quot; )" href="#" class="comment-reply-link" rel="nofollow">Reply</a>
                                                    </div>
-->
                                                </div>

                                            </div><!-- /.comment-body -->
                                        </div><!-- /.media -->
                                    </li><!-- #comment-## -->
                                </ol><!-- .comment-list -->

                                <div class="comment-respond" id="respond">
                                    <h3 class="comment-reply-title" id="reply-title">Şərh yaz </h3>
                                    <form novalidate="" class="comment-form" id="commentform">
<!--
                                        <p class="comment-notes">
                                        	<span id="email-notes">Your email address will not be published.</span> Required fields are marked 
                                        	<span class="required">*</span>
                                        </p>
-->
                                        <p class="comment-form-comment">
                                        	<label for="comment">Şərh <span class="required">*</span></label> 
                                        	<textarea required="required" maxlength="65525" rows="8" cols="45" name="comment" id="comment" [(ngModel)]="formComment"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                        	<label for="author">Ad və soyad <span class="required">*</span></label> 
                                        	<input type="text" required="required" aria-required="true" maxlength="245" size="30" *ngIf="isLogged != 'true'" value="" name="author" id="author" [(ngModel)]="formName">
                                        	<input type="text" required="required" aria-required="true" maxlength="245" size="30" *ngIf="isLogged == 'true'" value="{{username}} {{surname}}" disabled="disabled" name="author" id="author">
                                        </p>
                                        <p class="comment-form-email">
                                        	<label for="email">Email <span class="required">*</span></label> 
                                        	<input type="email" required="required" aria-required="true" aria-describedby="email-notes" maxlength="100" size="30" value="" name="email" id="email" *ngIf="isLogged != 'true'" [(ngModel)]="formEmail">
                                        	<input type="email" required="required" aria-required="true" aria-describedby="email-notes" maxlength="100" size="30" value="{{email}}" disabled="disabled" name="email" id="email" *ngIf="isLogged == 'true'">
                                        </p>
<!--
                                        <p class="comment-form-url">
                                        	<label for="url">Website</label> 
                                        	<input type="url" maxlength="200" size="30" value="" name="url" id="url">
                                        </p>
-->
                                        <p class="form-submit">
                                        	<input type="submit" value="Göndər" class="submit" (click)="sendComment()">
                                        </p>
                                    </form>
                                </div><!-- #respond -->

                            </div>
                        </main><!-- #main -->
                    </div><!-- #primary -->

                    <div id="sidebar" class="sidebar-blog" role="complementary">
                        <aside id="search-2" class="widget widget_search">
                            <form role="search" method="get" class="search-form" action="#">
                                <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" (keyup.enter)="search()" placeholder="Axtarış" [(ngModel)]="searchString" name="s" />
                                </label>
<!--                                <input type="submit" class="search-submit" value="Search" />-->
                            </form>
                        </aside>
<!--
                        <aside class="widget widget_text">
                            <h3 class="widget-title">About Blog</h3>
                            <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero.</div>
                        </aside>
-->
                        <aside class="widget widget_categories">
                            <h3 class="widget-title">Kategoriyalar</h3>
                            <ul>
                                <li class="cat-item" *ngFor="let c of blogTitles;index as i;">
                                	<a href="blog/{{c.id}}">{{c.name}}</a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="widget electro_recent_posts_widget">
                           <h3 class="widget-title">Yeni Yazılar</h3>
                            <ul>
                                <li *ngFor="let b of blogLast;index as i;">
                                    <a class="post-thumbnail" href="blog/{{b.blog_title_id}}/{{b.id}}"><img width="150" height="150" src="{{eService.api}}/{{b.image}}" class="wp-post-image" alt="1"/></a>
                                    <div class="post-content">
                                        <a class ="post-name" href="blog/{{b.blog_title_id}}/{{b.id}}">{{b.name}}</a>
                                        <span class="post-date">{{b.created_at}}</span>
                                    </div>
                                </li>
                            </ul>
                        </aside>
                        <aside id="tag_cloud-2" class="widget widget_tag_cloud">
                           	<h3 class="widget-title">Etiketlər</h3>
                            <div class="tagcloud">
                                <a href='blog/tags?id={{t.id}}' class='' title='10 topics' style='font-size: 22pt;' *ngFor="let t of blogTags;index as i;">{{t.name}}</a>
                            </div>
                        </aside>
                    </div>
                </div><!-- .container -->
            </div>
</div>