<div class="full-layout"></div>
               <div id="content" class="site-content" tabindex="-1">
                <div class="container">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                           <div class="home-v3-slider" >

                            	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

                            		<div class="item" [ngStyle]="{'background-image': 'url('+eService.api+'/'+item.link+')'}" *ngFor="let item of carBanners;index as i;">
                            			<div class="container">
                            				<div class="row">
                            					<div class="col-md-8">
                            						<div class="caption vertical-center text-left">
                            							<div class="hero-subtitle-v2 fadeInDown-1">
                            								{{item.blue_text}}
                            							</div>

                            							<div class="hero-2 fadeInDown-2" [innerHTML]="item.text">
                             							</div>

                            							<div class="hero-action-btn fadeInDown-3" *ngIf="item.button">
                            								<a href="{{item.image}}" class="big le-button ">{{item.button}}</a>
                            							</div>
                            						</div><!-- /.caption -->
                            					</div><!-- /.col -->
                            				</div>
                            			</div><!-- /.container -->
                            		</div><!-- /.item -->

                            	</div><!-- /.owl-carousel -->

                            </div><!-- /.home-v1-slider -->
<!--
                            <div class="home-v1-slider" >

                            	<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">



                            		<a href="{{item.image ? item.image : 'javascript:void(0);'}}" class="item" [ngStyle]="{'background-image': 'url('+eService.api+'/'+item.link+')'}" *ngFor="let item of carBanners;index as i;"> 
                            		</a>


                            	</div>

														</div>
-->
                            
                             <div class="home-v3-features-block animate-in-view fadeIn animated" data-animation="fadeIn">
                            	<div class="features-list columns-5">
                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-transport"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Pulsuz Çatdırılma</strong>
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-customers"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Əla Xidmət</strong>
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-returning"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Məhsulun Qaytarılması</strong>
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-payment"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Təhlükəsiz Ödəniş</strong>
                            				</div>
                            			</div>
                            		</div><!-- .feature -->

                            		<div class="feature">
                            			<div class="media">
                            				<div class="media-left media-middle feature-icon">
                            					<i class="ec ec-tag"></i>
                            				</div>
                            				<div class="media-body media-middle feature-text">
                            					<strong>Ən Yaxşı Brendlər</strong>
                            				</div>
                            			</div>
                            		</div><!-- .feature -->
                            	</div><!-- .features-list -->
                            </div><!-- .home-v3-features-block -->

														<section class="home-v1-recently-viewed-products-carousel section-products-carousel animate-in-view fadeIn animated" data-animation="fadeIn">
                                <header>
                                    <h2 class="h1">Yeni əlavə olunan</h2>

                                    <div class="owl-nav">
                                        <a href="#products-carousel-prev" data-target="#recently-added-products-carousel" class="slider-prev"><i class="fa fa-angle-left"></i></a>
                                        <a href="#products-carousel-next" data-target="#recently-added-products-carousel" class="slider-next"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </header>

                                <div id="recently-added-products-carousel">
                                    <div class="woocommerce columns-6">
                                        <div class="products owl-carousel recently-added-products products-carousel columns-6">


                                            <div class="product" *ngFor="let p of lastProds;index as i;">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="shop/{{p.model_id}}" rel="tag">{{p.model_name}}</a></span>
                                                        <a href="shop/{{p.model_id}}/{{p.id}}">
                                                            <h3>{{p.firm_name}} {{p.type_name}} {{p.name}}</h3>
                                                            <div class="product-thumbnail">
                                                                <img src="{{eService.api}}/{{p.images[0]}}" class="img-responsive" alt="">
                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!p.is_discount">
                                                                    <span class="amount">{{p.price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="p.is_discount">
                                                                    <ins><span class="amount">{{p.new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{p.price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(p);">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </div><!-- /.products -->

                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                            <div class="home-v1-banner-block animate-in-view fadeIn animated" data-animation="fadeIn">
                            	<div class="home-v1-fullbanner-ad fullbanner-ad" style="margin-bottom: 70px">
                            		<a href="{{centerBanner.image ? centerBanner.image : 'javascript:void(0);'}}"><img src="{{eService.api}}/{{centerBanner.link}}" class="img-responsive" alt=""></a>
                            	</div>
                            </div>

                            <div class="home-v1-deals-and-tabs deals-and-tabs row animate-in-view fadeIn animated" data-animation="fadeIn">
                                <div class="tabs-block col-lg-12">
                                    <div class="products-carousel-tabs">
                                        <ul class="nav nav-inline">
                                            <li class="nav-item"><a class="nav-link active" href="#tab-products-1" data-toggle="tab">Ən çox seçilən</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab-products-2" data-toggle="tab">Endirimli</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#tab-products-3" data-toggle="tab">Ən yüksək dəyərləndirilən</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-products-1" role="tabpanel">
                                                <div class="woocommerce columns-3">

                                                    <ul class="products columns-3">


                                                        <li class="product" [ngClass]="{'first': i == 0, 'last' : i == 2}" *ngFor="let p of selectedProds;index as i;">
                                                            <div class="product-outer">
                                                                <div class="product-inner">
                                                                    <span class="loop-product-categories"><a href="shop/{{p.products.model_id}}" rel="tag">{{p.products.model_name}}</a></span>
                                                                    <a href="shop/{{p.products.model_id}}/{{p.products.id}}">
                                                                        <h3>{{p.products.firm_name}} {{p.products.type_name}} {{p.products.name}}</h3>
                                                                        <div class="product-thumbnail">
                                                                            <img src="{{eService.api}}/{{p.products.images[0]}}" class="img-responsive" alt="">
                                                                        </div>
                                                                    </a>

                                                                    <div class="price-add-to-cart">
                                                                        <span class="price">
																																					<span class="electro-price" *ngIf="!p.products.is_discount">
																																							<span class="amount">{{p.products.price}} &#8380;</span>
																																					</span>
																																					<span class="electro-price" *ngIf="p.products.is_discount">
																																							<ins><span class="amount">{{p.products.new_price}} &#8380;</span></ins>
																																							<del><span class="amount">{{p.products.price}} &#8380;</span></del>
																																							<span class="amount"> </span>
																																					</span>
																																			</span>
                                                                        <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(p.products);" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                                    <div class="hover-area">
                                                                        <div class="action-buttons">

                                                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                            <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                        </div>
                                                                    </div>
-->
                                                                </div><!-- /.product-inner -->
                                                            </div><!-- /.product-outer -->
                                                        </li><!-- /.products -->
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab-products-2" role="tabpanel">
                                                <div class="woocommerce columns-3">
                                                    <ul class="products columns-3">

                                                        <li class="product" [ngClass]="{'first': i == 0, 'last' : i == 2}" *ngFor="let p of discountProds;index as i;">
                                                            <div class="product-outer">
                                                                <div class="product-inner">
                                                                    <span class="loop-product-categories"><a href="shop/{{p.model_id}}" rel="tag">{{p.model_name}}</a></span>
                                                                    <a href="shop/{{p.model_id}}/{{p.id}}">
                                                                        <h3>{{p.firm_name}} {{p.type_name}} {{p.name}}</h3>
                                                                        <div class="product-thumbnail">

                                                                            <img src="{{eService.api}}/{{p.images[0]}}" alt="">

                                                                        </div>
                                                                    </a>

                                                                    <div class="price-add-to-cart">
                                                                        <span class="price">
																																						<span class="electro-price" *ngIf="!p.is_discount">
																																								<span class="amount">{{p.price}} &#8380;</span>
																																						</span>
																																						<span class="electro-price" *ngIf="p.is_discount">
																																								<ins><span class="amount">{{p.new_price}} &#8380;</span></ins>
																																								<del><span class="amount">{{p.price}} &#8380;</span></del>
																																								<span class="amount"> </span>
																																						</span>
																																				</span>
                                                                        <a rel="nofollow" href="javascript:void(0);" class="button add_to_cart_button" (click)="addToCart(p);">Səbətə əlavə et</a>
                                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                                    <div class="hover-area">
                                                                        <div class="action-buttons">

                                                                            <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                                Wishlist</a>

                                                                            <a href="#" class="add-to-compare-link">Compare</a>
                                                                        </div>
                                                                    </div>
-->
                                                                </div><!-- /.product-inner -->
                                                            </div><!-- /.product-outer -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab-products-3" role="tabpanel">
                                                <div class="woocommerce columns-3">

                                                    <ul class="products columns-3">


                                                        <li class="product" [ngClass]="{'first': i == 0, 'last' : i == 2}" *ngFor="let p of starsProds;index as i;">
                                                            <div class="product-outer">
                                                                <div class="product-inner">
                                                                    <span class="loop-product-categories"><a href="shop/{{p.products.model_id}}" rel="tag">{{p.products.model_name}}</a></span>
                                                                    <a href="shop/{{p.products.model_id}}/{{p.products.id}}">
                                                                        <h3>{{p.products.firm_name}} {{p.products.type_name}} {{p.products.name}}</h3>
                                                                        <div class="product-thumbnail">
                                                                            <img src="{{eService.api}}/{{p.products.images[0]}}" class="img-responsive" alt="">
                                                                        </div>
                                                                    </a>

                                                                    <div class="price-add-to-cart">
                                                                        <span class="price">
																																					<span class="electro-price" *ngIf="!p.products.is_discount">
																																							<span class="amount">{{p.products.price}} &#8380;</span>
																																					</span>
																																					<span class="electro-price" *ngIf="p.products.is_discount">
																																							<ins><span class="amount">{{p.products.new_price}} &#8380;</span></ins>
																																							<del><span class="amount">{{p.products.price}} &#8380;</span></del>
																																							<span class="amount"> </span>
																																					</span>
																																			</span>
                                                                        <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(p.products);" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                                    </div><!-- /.price-add-to-cart -->

<!--
                                                                    <div class="hover-area">
                                                                        <div class="action-buttons">

                                                                            <a href="#" rel="nofollow" class="add_to_wishlist"> Wishlist</a>

                                                                            <a href="compare.html" class="add-to-compare-link"> Compare</a>
                                                                        </div>
                                                                    </div>
-->
                                                                </div><!-- /.product-inner -->
                                                            </div><!-- /.product-outer -->
                                                        </li><!-- /.products -->
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.tabs-block -->
                            </div><!-- /.deals-and-tabs -->
                            
                            

                            <!-- ============================================================= 2-1-2 Product Grid ============================================================= -->
                            <section class="products-2-1-2 animate-in-view fadeIn animated" data-animation="fadeIn">
                                <h2 class="sr-only">Products Grid</h2>
                                <div class="container">

                                    <ul class="nav nav-inline nav-justified">

                                        <li class="nav-item" *ngFor="let model of models; index as i"><a href="javascript:void(0);" class="nav-link" [ngClass]="{'active': selectedTabsModel == model.id}" (click)="selectTabModel(model.id)">{{model.name}}</a></li>
                                    </ul>

                                    <div class="columns-2-1-2">
                                        <ul class="products exclude-auto-height">
                                            <li class="product" *ngIf="selectedTab[0]">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{selectedTab[0].model_name}}</a></span>
                                                        <a href="shop/{{selectedTab[0].model_id}}/{{selectedTab[0].id}}">
                                                            <h3>{{selectedTab[0].firm_name}} {{selectedTab[0].type_name}} {{selectedTab[0].name}}</h3>
                                                            <div class="product-thumbnail">

                                                                <img src="{{eService.api}}/{{selectedTab[0].images[0]}}" alt="">

                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!selectedTab[0].is_discount">
                                                                    <span class="amount">{{selectedTab[0].price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="selectedTab[0].is_discount">
                                                                    <ins><span class="amount">{{selectedTab[0].new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{selectedTab[0].price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(selectedTab[0])" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                    Wishlist</a>

                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </li>
                                            <li class="product" *ngIf="selectedTab[1]">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{selectedTab[1].model_name}}</a></span>
                                                        <a href="shop/{{selectedTab[1].model_id}}/{{selectedTab[1].id}}">
                                                            <h3>{{selectedTab[1].firm_name}} {{selectedTab[1].type_name}} {{selectedTab[1].name}}</h3>
                                                            <div class="product-thumbnail">

                                                                <img src="{{eService.api}}/{{selectedTab[1].images[0]}}" alt="">

                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!selectedTab[1].is_discount">
                                                                    <span class="amount">{{selectedTab[1].price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="selectedTab[1].is_discount">
                                                                    <ins><span class="amount">{{selectedTab[1].new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{selectedTab[1].price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(selectedTab[1])" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                    Wishlist</a>

                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </li>
                                        </ul>

                                        <ul class="products exclude-auto-height product-main-2-1-2">
                                            <li class="last product" *ngIf="selectedTab[2]">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{selectedTab[2].model_name}}</a></span>
                                                        <a href="shop/{{selectedTab[2].model_id}}/{{selectedTab[2].id}}">
                                                            <h3>{{selectedTab[2].firm_name}} {{selectedTab[2].type_name}} {{selectedTab[2].name}}</h3>
                                                            <div class="product-thumbnail">

                                                                <img src="{{eService.api}}/{{selectedTab[2].images[0]}}" alt="">

                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!selectedTab[2].is_discount">
                                                                    <span class="amount">{{selectedTab[2].price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="selectedTab[2].is_discount">
                                                                    <ins><span class="amount">{{selectedTab[2].new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{selectedTab[2].price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(selectedTab[2])" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                    Wishlist</a>

                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </li>
                                        </ul>

                                        <ul class="products exclude-auto-height">
                                           <li class="product" *ngIf="selectedTab[3]">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{selectedTab[3].model_name}}</a></span>
                                                        <a href="shop/{{selectedTab[3].model_id}}/{{selectedTab[3].id}}">
                                                            <h3>{{selectedTab[3].firm_name}} {{selectedTab[3].type_name}} {{selectedTab[3].name}}</h3>
                                                            <div class="product-thumbnail">

                                                                <img src="{{eService.api}}/{{selectedTab[3].images[0]}}" alt="">

                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!selectedTab[3].is_discount">
                                                                    <span class="amount">{{selectedTab[3].price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="selectedTab[3].is_discount">
                                                                    <ins><span class="amount">{{selectedTab[3].new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{selectedTab[3].price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(selectedTab[3])" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                    Wishlist</a>

                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </li>
                                            <li class="product" *ngIf="selectedTab[4]">
                                                <div class="product-outer">
                                                    <div class="product-inner">
                                                        <span class="loop-product-categories"><a href="product-category.html" rel="tag">{{selectedTab[4].model_name}}</a></span>
                                                        <a href="shop/{{selectedTab[4].model_id}}/{{selectedTab[4].id}}">
                                                            <h3>{{selectedTab[4].firm_name}} {{selectedTab[4].type_name}} {{selectedTab[4].name}}</h3>
                                                            <div class="product-thumbnail">

                                                                <img src="{{eService.api}}/{{selectedTab[4].images[0]}}" alt="">

                                                            </div>
                                                        </a>

                                                        <div class="price-add-to-cart">
                                                            <span class="price">
                                                                <span class="electro-price" *ngIf="!selectedTab[4].is_discount">
                                                                    <span class="amount">{{selectedTab[4].price}} &#8380;</span>
                                                                </span>
                                                                <span class="electro-price" *ngIf="selectedTab[4].is_discount">
                                                                    <ins><span class="amount">{{selectedTab[4].new_price}} &#8380;</span></ins>
                                                                    <del><span class="amount">{{selectedTab[4].price}} &#8380;</span></del>
                                                                    <span class="amount"> </span>
                                                                </span>
                                                            </span>
                                                            <a rel="nofollow" href="javascript:void(0);" (click)="addToCart(selectedTab[4])" class="button add_to_cart_button">Səbətə əlavə et</a>
                                                        </div><!-- /.price-add-to-cart -->

<!--
                                                        <div class="hover-area">
                                                            <div class="action-buttons">

                                                                <a href="#" rel="nofollow" class="add_to_wishlist">
                                                                    Wishlist</a>

                                                                <a href="#" class="add-to-compare-link">Compare</a>
                                                            </div>
                                                        </div>
-->
                                                    </div><!-- /.product-inner -->
                                                </div><!-- /.product-outer -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <!-- ============================================================= 2-1-2 Product Grid : End============================================================= -->


                            <section class="home-list-categories animate-in-view fadeIn animated" data-animation="fadeIn">
                                <header>
                                    <h2 class="h1">Yeniliklər</h2>
                                </header>
                                <ul class="categories">
                                    <li class="category" *ngFor="let b of lastBlogs;index as i;">
                                        <div class="media">
                                            <a class="" href="blog/{{b.blog_title_id}}/{{b.id}}">
                                                <img src="{{eService.api}}/{{b.image}}" alt="">
                                            </a><!-- /.media-left -->

                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="blog/{{b.blog_title_id}}/{{b.id}}">{{b.name}}</a></h4>
                                                <div [innerHTML]="b.text"></div>
                                            </div><!-- /.media-body -->
                                        </div><!-- /.media -->
                                        <a class="date-time">{{b.created_at}}</a>
                                        <a class="see-all" href="blog/{{b.blog_title_id}}/{{b.id}}">Ətraflı</a>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </section>



                            
                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .container -->
            </div>