.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}

.page-template-default{
	z-index: 1000;
}

.site-content#content{
	margin-bottom: 0;
}

.hero-subtitle{
	margin-bottom: 0;
}

.recently-added-products .product-thumbnail>img{
	  max-height: 180px;
    width: auto;
	margin: 0 auto;
}

.deals-and-tabs .product-thumbnail>img{
	margin: 0 auto;
}

.products-2-1-2.animate-in-view .product-thumbnail>img{
	max-height: 241px;
    margin: 0 auto;
}

.product-main-2-1-2 .product-thumbnail>img{
	max-height: 610px!important;
}

.home-v1-deals-and-tabs .products-carousel-tabs .columns-3 .product-thumbnail > img{
	max-height: 360px;
}

.home-v1-slider{
	height: 360px;
}

.home-v1-slider #owl-main .item{
	height: 358px;
}

.home-list-categories{
	margin-bottom: 100px;
}

.home-list-categories .media{
	border-bottom: .9px solid #eaeaea;
}

.home-list-categories .media img{
		max-height: 200px;
    width: auto;
    margin: 0 auto;
}

.home-list-categories .category .date-time{
	float: left;
	font-weight: bold;
    color: #9d9c9c;
    font-size: 1em;
    line-height: 1.714em;
}

.home-list-categories .category .see-all{
	float: right;
}

.media-heading{
	margin-top: .75em;
}

.media-body > div{
	font-size: 1.05em;
  overflow: hidden;
	max-height: 138px;
}

.home-list-categories ul.categories > li.category .media{
	    height: 442px;
}

a.item{
	display: block;
}