<app-home-header [brends]="brends" [models]="models" [blogs]="blogs" [types]="types"></app-home-header>
<app-home-content class="page home page-template-default" [brends]="brends" [models]="models" [blogs]="blogs" [types]="types"></app-home-content>