/*
li.yamm-tfw.menu-item.menu-item-has-children{
	visibility: collapse;
	opacity: 0;
}

.header-v1 .vertical-menu{
	background-color: transparent;
	z-index: 1;
}

li.list-group-item.hide-other{
	margin-bottom: 0;
}

.list-group.vertical-menu{
		top: -51px;
    left: -10px;
}
*/

/*
ul.navbar-nav.flip{
	margin-right: 65px;
}
*/

.navbar-search{
	margin-left: 60px;
}

.margin-left, .yamm-tfw.menu-item:nth-child(2){
	margin-left: -4px;
}

.dropdown-menu-mini-cart p.total{
	display: block;
}

.navbar-toggleable-xs > .navbar-nav{
	text-align: center;
}

.navbar-toggleable-xs > .navbar-nav > li{
	float: none;
	display: inline-block;
}

.header-logo{
    top: -5px;
}

/****************/

.header-logo{
	    padding: 0;
}

form.navbar-search{
	margin-left: 30px;
	width: 47%;
}

.header-support-info{
		padding: 0;
    margin-left: 12px;
}

@media (min-width: 768px){
	.header-support-info {
			width: 20%;
	}
}