.full-layout{
	  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: white;
		background-image: url(../../assets/images/anime.png);
	  background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
}

label.error{
	color: #a94442;
}

input.error{
	border-color: #ebcccc;
}

.reg-error{
	position: relative;
  float: left;
}

.lost-error{
	position: relative;
  float: left;
}

.col-1 > a:first-child{
	position: absolute;
  top: -40px;
}