<div class="full-layout"></div>
              <div id="content" class="site-content" tabindex="-1">
                <div class="container">

                    <nav class="woocommerce-breadcrumb" ><a href="home.html">Ana səhifə</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Hesabım</nav><!-- .woocommerce-breadcrumb -->

                    <div id="primary" class="content-area">
                       <div class="alert alert-success" *ngIf="successActive">
                       	Hesabınız aktivləşdi. Davam etmək üçün daxil olun.
                       </div>
                        <main id="main" class="site-main">
                            <article id="post-8" class="hentry">

                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="customer-login-form">
                                            <span class="or-text">və ya</span>

                                            <div class="col2-set" id="customer_login">

                                                <div class="col-1" *ngIf="!lostPassword">


                                                    <h2>Daxil ol</h2>

                                                    <form method="post" class="login">

<!--                                                        <p class="before-login-text">Welcome back! Sign in to your account</p>-->

                                                        <p class="form-row form-row-wide">
                                                            <label for="username" [ngClass]="{'error': (showSigninError && signUser.email == '') || (showSigninError && showEmailError)}">Email<span class="required">*</span></label>
                                                            <input type="email" [(ngModel)]="signUser.email" [ngClass]="{'error': (showSigninError && signUser.email == '') || (showSigninError && showEmailError)}" class="input-text" name="email" id="email" value="" />
                                                        </p>

                                                        <p class="form-row form-row-wide">
                                                            <label for="password" [ngClass]="{'error': (showSigninError && signUser.password == '')}">Şifrə<span class="required">*</span></label>
                                                            <input class="input-text" [(ngModel)]="signUser.password" [ngClass]="{'error': (showSigninError && signUser.password == '')}" type="password" name="password" id="password" />
                                                        </p>

                                                        <p class="form-row">
                                                            <input class="button" type="submit" value="Daxil ol" name="login" (click)="signIn()">
                                                            <label for="rememberme" class="inline"><input name="rememberme" type="checkbox" id="rememberme" value="" [(ngModel)]="signUser.remember" /> Yadda saxla</label>
                                                        </p>

                                                        <p class="lost_password"><a href="javascript:void(0);" (click)="lostPassword = true;showLostForm=true;lostSuccess=false;">Şifrəni unutmusunuz?</a></p>

                                                    </form>
																											
                                                <div class="alert alert-danger" *ngIf="showSigninError && signinError != ''">{{signinError}}</div>
                                                <div class="alert alert-success" *ngIf="resendSuccess">Keçid yenidən göndərildi</div>
																								<p class="lost_password" *ngIf="showSigninError && signinError != '' && resendLink"><a href="javascript:void(0);" (click)="resendNewLink()">Keçidi yenidən göndər</a></p>
                                                </div>
                                                
                                                <div class="col-1" *ngIf="lostPassword">

																										<a href="javascript:void(0);" (click)="lostPassword = false;">Geri</a>
                                                    <h2>Yeni şifrə tələbi</h2>

                                                    <form method="post" class="login" *ngIf="showLostForm">

<!--                                                        <p class="before-login-text">Welcome back! Sign in to your account</p>-->

                                                        <p class="form-row form-row-wide">
                                                            <label for="username" [ngClass]="{'error': showLostError}">Email ünvanınızı daxil edin və sizin poçtunuza yeni şifrə göndəriləcək<span class="required">*</span></label>
                                                            <input type="email" [(ngModel)]="lostUser.email" [ngClass]="{'error': showLostError}" class="input-text" name="email" id="email" value="" />
                                                        </p>

                                                        <p class="form-row">
                                                            <input class="button" type="submit" value="Göndər" name="login" (click)="resendPass()">
                                                        </p>

                                                    </form>
																											
                                                <div class="alert alert-danger lost-error" *ngIf="showLostError && lostError != ''">{{lostError}}</div>
                                                <div class="alert alert-success" *ngIf="lostSuccess">Yeni şifrə göndərildi</div>
                                                </div>

                                                <div class="col-2">

                                                    <h2>Qeydiyyat</h2>

                                                    <form *ngIf="!successRes" method="post" class="register">

<!--                                                        <p class="before-register-text">Create your very own account</p>-->

                                                        <p class="form-row form-row-wide">
                                                            <label for="reg_email" [ngClass]="{'error': (showSignupError && regUser.email == '') || (showSignupError && showUpEmailError)}">Email<span class="required">*</span></label>
                                                            <input [(ngModel)]="regUser.email" type="email" class="input-text" name="email" id="reg_email" value="" [ngClass]="{'error': (showSignupError && regUser.email == '') || (showSignupError && showUpEmailError)}" />
                                                        </p>
                                                        
                                                        <p class="form-row form-row-wide">
                                                            <label for="password2" [ngClass]="{'error': (showSignupError && regUser.password == '')}">Şifrə<span class="required">*</span></label>
                                                            <input [(ngModel)]="regUser.password" class="input-text" type="password" name="password2" id="password2" [ngClass]="{'error': (showSignupError && regUser.password == '')}" />
                                                        </p>
                                                        
                                                        <p class="form-row form-row-wide">
                                                            <label for="name" [ngClass]="{'error': (showSignupError && regUser.name == '')}">Ad<span class="required">*</span></label>
                                                            <input [(ngModel)]="regUser.name" class="input-text" type="text" name="name" id="name" [ngClass]="{'error': (showSignupError && regUser.name == '')}" />
                                                        </p>
                                                        
                                                        <p class="form-row form-row-wide">
                                                            <label for="surname" [ngClass]="{'error': (showSignupError && regUser.surname == '')}">Soyad<span class="required">*</span></label>
                                                            <input [(ngModel)]="regUser.surname" class="input-text" type="text" name="surname" id="surname" [ngClass]="{'error': (showSignupError && regUser.surname == '')}" />
                                                        </p>

                                                        <p class="form-row"><input type="submit" (click)="signUp()" class="button" name="register" value="Qeydiyyat" /></p>
                                                        
                                                        <div class="alert alert-danger reg-error" *ngIf="showSignupError && signupError != ''">{{signupError}}</div>

                                                        <div class="register-benefits">
                                                            <h3>Qeydiyyatdan keçin və :</h3>
                                                            <ul>
                                                                <li>Online alış-veriş edin</li>
                                                                <li>Mallara rəylərinizi bildirin</li>
                                                                <li>Malları qiymtələndirin</li>
                                                            </ul>
                                                        </div>

                                                    </form>
                                                    
                                                    <div *ngIf="successRes" class="">
                                                    	Səhifəmizdə qeydiyyatdan keçdiyiniz üçün təşəkkür edirik. Hesabınızı aktiv etmək üçün email ünvanınıza göndərdiyimiz keçidə daxil olun.
                                                    </div>

                                                </div><!-- .col-2 -->

                                            </div><!-- .col2-set -->

                                        </div><!-- /.customer-login-form -->
                                    </div><!-- .woocommerce -->
                                </div><!-- .entry-content -->

                            </article><!-- #post-## -->

                        </main><!-- #main -->
                    </div><!-- #primary -->

                </div><!-- .col-full -->
            </div>