<div class="top-bar hidden-md-down">
                <div class="container">
                    <nav>
                        <ul id="menu-top-bar-right" class="nav nav-inline pull-right animate-dropdown flip">
<!--
                            <li class="menu-item animate-dropdown"><a title="Store Locator" href="#"><i class="ec ec-map-pointer"></i>Store Locator</a></li>
                            <li class="menu-item animate-dropdown"><a title="Track Your Order" href="track-your-order.html"><i class="ec ec-transport"></i>Track Your Order</a></li>
-->
                            <li class="menu-item animate-dropdown"><a title="Shop" href="/shop"><i class="ec ec-shopping-bag"></i>Məhsullar</a></li>
													<li *ngIf="isLogged == 'true'" class="menu-item animate-dropdown"><a title="My Account" ><i class="ec ec-user"></i>{{username}} </a> <span> &#9679; </span> <a href="javascript:void(0);" (click)="logout()"><b> Çıxış</b></a></li>
                            <li *ngIf="isLogged == 'false' || !isLogged" class="menu-item animate-dropdown"><a title="My Account" href="/account"><i class="ec ec-user"></i>Hesabım</a></li>
                        </ul>
                    </nav>
                </div>
            </div>