/*
Theme Name:         Electro
Theme URI:          http://demo2.transvelo.in/electro/
Author:             Transvelo
Author URI:         http://www.transvelo.com
Description:        Electro is a robust and flexible WordPress theme, designed by Transvelo to help you make the most out of using WooCommerce to power your online store. The design is well suited for Electronics Store, Vendor based marketplaces, affiliate websites. It is built and comes bundled with most of the advanced features available in most popular eCommerce websites like amazon, flipkart, snapdeal, walmart, alibaba, aliexpress, etc.
Version:            1.0.0
GitHub Theme URI:   https://github.com/Transvelo/electro
GitHub Branch:      theme
License:            GNU General Public License v2 or later
License URI:        http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:        electro
Tags:               black, blue, pink, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready

Electro is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work
of Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/

FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Bootstrap License: MIT - https://github.com/twbs/bootstrap/blob/master/LICENSE
Animate.css - http://daneden.me/animate - License: MIT - http://opensource.org/licenses/MIT

======
Note: Do not edit this file. If you wish to add your own CSS we strongly recommend creating your own child theme, or installing a custom CSS plugin.
======
*/

$text-direction: ltr;

// Susy
$susy: (
	columns: 12,
	container: 1140px,
	gutters: 0.447761194,
	global-box-sizing: border-box,
	flow: $text-direction,
);

$blog-grid-settings : (
  gutter-position: after,
  gutters: 1,

);

@import '~@ngx-share/button/styles/share-buttons';
@import '~@ngx-share/button/styles/themes/default/default-theme';
@import "direction-controller";
@import "main";
